[2018-01-03 15:20] dscho commented on #1405
@yyjdelete thanks. I did that (did not elevate, so the formatting did not work, but Windows helpfully brought up a dialog whether I want to format the new drive). This is how it looks, though:

[code]

It also works in Git Bash...

FWIW when I call `imdisk --version`, the output looks like this:

[code]

[2018-01-03 15:43] tboegi commented on #1416
Just a final comment:
If somebody should change Git, we need a receipe to reproduce the problem you had.
Do you think you can provide a simple example ?

[2018-01-03 15:44] dscho commented on #1403
The `file:` part looks dubious. Maybe your `HOME` variable is a bit funny?

[2018-01-03 15:46] dscho commented on #1063
Right. And Git also uses `unsigned long` in other places where `off_t` would be appropriate. There is no excuse for that, really.

[2018-01-03 15:51] dscho commented on #1390
Sadly, this is actually by design. The reason seems to be that the original author of the worktree command, @pclouds, intended it to be used with paths *outside* of the current Git project.

As a work-around, simply provide the same argument via `-b` again: `git worktree add -b feature/app1 feature/app1`.

[2018-01-03 15:51] #1390 closed

[2018-01-03 15:54] Sean-Brown commented on #1403
I've been experimenting with this in a container and I thought I had it working but now I'm unable to reproduce the container -- I am always getting git clone failures, which is confusing because I thought I was doing the same procedure but now it doesn't work and `git clone`, even with trace enabled, is very non-descriptive. @Custodia  I'll let you know if I can reliably get it to work.

[2018-01-03 16:03] yyjdelete commented on #1405
I use the same version of imdisk, not sure what happened.
Can you check whether `git config core.symlinks` is set to `true`. This only happened with NTFS and `core.symlinks=true`.

[2018-01-03 16:17] ninevoltbatterie commented on #1418
I did look through those tickets, but didn't think they were related to my problem:

1.  #1370 says git bash crashes, and that the git command line tools don't work.  It says e.g. git stash throws errors, which mine doesn't.  I can use a lot of stuff in git bash, the only problems I have are ones dealing with this particular path in this particular repository.

2. The error messages in #1370 and #

[2018-01-03 16:31] dscho commented on #1333
This is probably a bit more involved a project, as there are a couple of parts to it.

# How does `git checkout` access the refs?

First of all, `git checkout` handles the branch argument here: https://github.com/git/git/blob/1eaabe34fc6f486367a176207420378f587d3b48/builtin/checkout.c#L1002-L1009

In other words, it simply uses the `read_ref()` function. This function is [declared in `refs.h`](htt

[2018-01-03 16:34] dscho commented on #1360
I simply cannot reproduce. Maybe you can provide more detailed a recipe to verify that this is indeed a reproducible problem (if it is not reproducible, there is little we can do to solve it).

[2018-01-03 16:37] dscho commented on #1392
Thanks for the confirmation!

[2018-01-03 16:41] dscho commented on #1052
You mean where Git for Windows can be downloaded? Try Git for Windows' homepage: https://gitforwindows.org/

[2018-01-03 16:59] dscho commented on #1361
I think this one is the actual problem: I have to use `$PWD` instead of `$CWD`.

[2018-01-03 17:16] dscho commented on #1361
As to the originally-reported issue: I can give you a *substantially-reduced* minimal example, one that does not even involve Git, but MSYS2 (which is used to evaluate Git's Unix shell scripts):

[code]

The problem would appear to be the single quotes around a parameter with spaces. And I am fairly certain that the problem is actually a bug in the MSYS2 runtime (you could try to report it [here](

[2018-01-03 17:18] dscho commented on #1361
BTW the common work-around would be to use a Unix shell script instead. I know, it is not beautiful, but it works. And it is actually not slower because Git uses Bash to evaluate `git-rebase--interactive` *anyway*.

[2018-01-03 17:19] dscho commented on #1348
I am fairly certain that the previous way we initialized NuGet packages was not performed automatically with MSBuild, only when building in Visual Studio.

However, we completely revamped (in a *major* effort between @jeffhostetler and myself) the way the Visual Studio integration works, and now your recipe should succeed.

@PhoebeHui may I ask you to test it?

[2018-01-03 17:21] dscho commented on #1270
I think this ticket may actually be a duplicate of #607, and we may soon have a fix via #1414.

[2018-01-03 17:31] dscho commented on #1327
Good strategy.

😄

I am actually quite surprised that nobody else jumped in to help you, as this is a *really* easy ticket and hardly requires my in-depth knowledge of Git for Windows' dirty intestines.

If you call `git push` and the default remote does not have a branch with the same name as your current branch, it refuses. This is what you saw first.

If you call `git push . <branch>`, you actu

[2018-01-03 17:33] dscho commented on #1405
That is set automatically when initializing a repository... Git tries to create a symbolic link in `.git/` and if it succeeds, it sets that setting to `true`.

[2018-01-03 18:57] taylorb-microsoft commented on #1403
Ok I did some more digging and found another issue but also a workaround.  It seems like git is calling the version of SSH it installed vs OpenSSH.  Below is a complete dockerfile the installs git and OpenSSH.  It also registers the ssh services, sets the ssh-agent service to auto start and does the hack of copying the OpenSSH binaries over the top of the git installed version :/.

After all this

[2018-01-03 19:14] Sean-Brown commented on #1403
Oh I didn't know that, btw it looks like there is a [git environment variable](https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables#_miscellaneous) for telling it which ssh.exe to use, in powershell it'd be something like: `[System.Environment]::SetEnvironmentVariable('GIT_SSH', 'C:\Program Files\OpenSSH-Win64\ssh.exe', 'Machine')`. I just tried this however and it didn't solve the i

[2018-01-03 19:37] bmcdonnell-ionx commented on #941
@dscho,

Discouraged by whom?

I think it is becoming more common for IT departments to not give local admin rights even to developers, and user-level installations are becoming more popular.

Have you asked about it on the [Inno Setup newsgroup](http://www.jrsoftware.org/newsgroups.php)? If the capability isn't there, I think a conditionally-elevated installation is a reasonable feature request.

[2018-01-03 19:57] Sean-Brown commented on #1403
OK I tried over-writing the ssh executables like you said and I was able to clone the repo, however getting submodules is somehow broken, i.e. running `git submodule update --init --recursive` doesn't pull the submodules and nothing is output from that command.

[2018-01-03 20:34] taylorb-microsoft commented on #1403
I wasn't getting GIT_SSH working either, I suspect but I'm not positive that while GIT_SSH points to ssh.exe but there are other binaries that might be in conflict...

I'm not sure why git submodule isn't working, though I suspect its similar to the root problem of ssh (something to do with msys).

[2018-01-03 23:13] divolgin commented on #1303
@dscho thanks.   That version of MinGit worked.

[2018-01-03 23:44] geotavros commented on #1416
yes

[2018-01-04 02:50] yyjdelete commented on #1405
I mean the global/system config(or the one set by setup of GFW), not the local config.

[2018-01-04 06:59] Custodia commented on #1403
@taylorb-microsoft your hack fix worked for me aswell.

[2018-01-04 08:47] timtos opened #1420 "core.hookspath is not working on windows"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing but #1042 is touching the topic but it is talking explicitly about the GUI version and it seemed to have worked for him on the console.

### Setup
I am using git version 2.15.1.windows.2 (64-bit)

[

[2018-01-04 15:12] conioh commented on #1412
That's good to know. I'll take a look at implementing this when I could spare a little bit more time.

[2018-01-04 16:25] tmssngr commented on #1361
This problem occurs when launching Git from within SmartGit. I just created a reproducible test-case without SmartGit. From SmartGit we directly invoke the git executable and are able to set some environment variables. Launching a Bash instead would be no option.

[2018-01-04 19:44] dscho commented on #941
@bmcdonnell-ionx it is cute that you think I have all the time in this world... but there is hope: this is Open Source. You do not need to rely on me to do everything. You can easily do this yourself, you can even read the entire source code for making a Git for Windows installer, suggest fixes via Pull Requests, and I have a track record of merging such Pull Requests.

As to the UAC prompt: since

[2018-01-04 20:00] bmcdonnell-ionx commented on #941
@dscho, sorry if I was unclear, or seemed demanding. I meant I think it would be a "reasonable feature request" for you to make of the Inno Setup development team. And I didn't even mean by that to say that they should automatically do it. I just meant that I think it's a reasonable thing to ask for.

[2018-01-04 20:34] Sean-Brown commented on #1403
I believe the issue with `git submodule` is that it's trying to run a shell script, and apparently I haven't installed something right because `sh.exe` doesn't produce any output. I have been able to directly run `C:\Program Files\Git\mingw64\libexec\git-core\git-submodule--helper.exe update-clone` directly and this command does give me feedback and is able to query the status of those submodules

[2018-01-04 21:35] dscho commented on #1321
Y'all.

This was already almost done, and it is a bit unfair to the people who do all the work to expect them to do *all* the work.

As a consequence, you did not get what you want.

Let this be a strong hint that y'all can do a lot better. Rather than sitting by idly, engage. Then you get what you want.

Y'all are lucky that I just stumbled over a similar bug report on the Git mailing list, and r

[2018-01-04 21:54] dscho commented on #1361
@tmssngr I hope you have some time available to spend on this issue, then.

# First step:

Build the MSYS2 runtime. It is not *altogether* straight-forward, and it comes up often enough that I wrote up a detailed description how to get that done:

https://github.com/git-for-windows/git/wiki/Building-msys2-runtime

# Next step: find out where the faulty command-line is constructed

Typically, the e

[2018-01-04 21:56] PhilipOakley commented on #941
@bmcdonnell-ionx

I think that what @dscho was saying was that it would help the GFW 'team' greatly, if perchance, you might raise this issue with the InnoSetup folks, obviously referring back to here to this issue. The voice of a real user / use case may well be more valid than some perceived maintainers 'wish'.

Anything we can do to ease the maintenance burden is a help. I believe you have alre

[2018-01-04 22:02] bmcdonnell-ionx commented on #941
@PhilipOakley, thanks for your input.

IIRC, their github says you have to post an issue on the newsgroups before posting an issue on github. TBH, I couldn't figure out how to do so (post). I thought the devs here might know.

[2018-01-04 22:29] ninevoltbatterie commented on #1418
Is this ticket dead now that it was deemed a duplicate and closed?  I would like to appeal that decision, but I don't know if anybody will see my comments now that this ticket is closed.  If I'm wrong and it _is_ a duplicate, I'd like to hear why I'm mistaken.  I'm new to github and don't see a way to send a message to @dscho, who closed the ticket.

[2018-01-04 23:11] dscho commented on #1403
There is likely some `sh.exe.stackdump` lying around afterwards :-(

I fear that it does not do that. The helper only handles one submodule at a time. The recursion is what the `git rebase` Unix shell script handles.

As I suggested earlier, if you have problems with shell scripts in Docker containers, maybe using the -BusyBox variant of MinGit helps? (You only need MinGit, anyway, as you do not p

[2018-01-04 23:17] dscho commented on #941
The UAC requirement is controlled by these lines, FYI: https://github.com/git-for-windows/build-extra/blob/2e3de090f6419eb3e8115e0d60902ee589621e1e/installer/install.iss#L68-L72

Now it's up to you if you want to dive into this, or not. If not, I'll just leave this ticket closed.

[2018-01-04 23:31] dscho commented on #1403
I just realized that I suggested this not only earlier, but *elsewhere*.

So please let me clarify: MinGit is a subset of Git for Windows, intended for applications. All purely interactive commands have been stripped, and also `git svn` is excluded (for size reasons). It should be enough for any scripted usage, including Docker containers.

MinGit is released simultaneously with every Git for Wind

[2018-01-04 23:34] dscho commented on #1418
@ninevoltbatterie this is actually an issue that should be addressed by default in the installer. If you still experience this after reinstalling the 32-bit version, I would be interested in knowing more about this, as `rebaseall` (which is run as part of the 32-bit installer) should fix this issue.

As to the specifics of the error message: I am rather convinced that the problem shows up only und

[2018-01-04 23:34] dscho commented on #1418
(And sorry for the delay in answering: I started commenting, but got interrupted, my computer rebooted, and I was able to finish the comment only a few moments ago.)

[2018-01-04 23:52] dscho commented on #1420
We specifically test this in our test suite: https://github.com/git-for-windows/git/blob/master/t/t1350-config-hooks-path.sh

Even if I usually run the entire test suite (all 90 minutes of it) before pushing `master`, I verified manually that this still works.

Having said that, things sometimes work differently in the test suite than interactively. So I tested it manually, and it did indeed still

[2018-01-05 02:18] taylorb-microsoft commented on #1403
@dscho it looks like sh (or really bash.exe) is AV'ing (it's producing a memory dump with an AV is msys someplace)…

I created a dockerfile combining OpenSSH and MinGit - I was able to clone the repro still and preform basic commands.  git submodule is at least returning output with -? so it might work.

[code]

[2018-01-05 08:17] tmssngr commented on #1361
Sorry, I don't have the weeks available to learn compiling/debugging/fixing C applications. I'm just a Java developer, no C guru like you.

[2018-01-05 09:25] re-schneider commented on #1191
Seems like there are some improvements with git version 2.15.1.windows.2: I am now able to do a "git submodule update --remote --recursive" without re-editting the .gitmodules to add my username@ in the https URL.

However, I still need to edit the .gitmodules when creating a fresh clone otherwise the "submodule init" & "submodule update" will not use my username as defined in the clone URL (no in

[2018-01-05 09:38] timtos commented on #1420
I found the issue but I am not happy with the solution I found. First of all, it is an administrator/ standard user problem. I followed exactly the steps mentioned above by dscho. Run it on my standard user account and still nothing happens. Starting the same command line with administrator rights and setting the hooksPath again, it starts to work.

The only solution I came up with was to do the f

[2018-01-05 10:51] dscho commented on #1361
I also was just a Java developer myself. That was no reason for me to stop learning 😃

[2018-01-05 10:53] dscho commented on #1420
Can you set `GIT_TRACE=1` and run the `git commit` call again?

There is *nothing* in Git's source code which should prevent this from working in a non-admin account.

[2018-01-05 10:56] dscho commented on #1403
So you're saying this fixes the described issues in your setup? If so: great!

[2018-01-05 11:34] dscho commented on #1350
@snodsix I am closing this ticket because there has not been any feedback to @shiftkey's answer. Please do take this as encouragement to respond. I can easily reopen once this ticket becomes less dead.

[2018-01-05 11:34] #1350 closed

[2018-01-05 11:37] timtos commented on #1420
Here is the result for non-admin:

[code]

And here is the result for admin:
[code]

Is there a way to make the trace more verbose?

[2018-01-05 11:38] dscho commented on #1338
Sadly, this does not qualify for a Verifiable example.

So the task of investigating is squarely in your court. You can do that relatively easily, too: the sh.exe.stackdump file may help you dig further: it contains hex addresses of a stack dump, and since those are most likely pointing into the MSYS2 runtime, and since that component has not changed since v2.14.3, you can easily [install Git for

[2018-01-05 11:44] dscho commented on #1420
Can you make sure that non-admin gets a current Git version, i.e. what do `git version` and `git --exec-path` say?

[2018-01-05 13:18] timtos commented on #1420
git version
12:56:59.528403 git.c:344               trace: built-in: git 'version'
git version 2.15.1.windows.2

git --exec-path
C:\Program Files\Git\mingw64/libexec/git-core

This is the output I get for admin user and standard user. So no difference here.

And you are right it doesn't seem to have something to do with having admin rights or not. What I did:
* Logged in as admin
* Created a new u

[2018-01-05 13:45] timtos commented on #1420
Ok, I got it working now. The problem was ''. If I execute

`git config --global core.hooksPath C:\git-sdk-64\test-hooks`

instead of

`git config --global core.hooksPath 'C:\git-sdk-64\test-hooks'`

everything works as expected.

[2018-01-05 14:30] dscho commented on #1420
Oh! I assumed you had executed that in the Bash, like I did. CMD has different dequoting rules.

It is here: https://github.com/git/git/blob/2f899857a9f425cb59f8a15c2ea7a52100c51a23/path.c#L386

And the value is parsed here: https://github.com/git/git/blob/95ec6b1b3393eb6e26da40c565520a8db9796e9f/config.c#L1039-L1040

I fear that the idea is to use whatever value you hard-code into the Git config.

[2018-01-05 14:30] #1420 closed

[2018-01-05 14:31] NightmareJoker2 commented on #1412
Hello,

Please, and I must reiterate, **do not** automatically deactivate, disable, or otherwise circumvent security options users or administrators have set up.

Also @conioh, please be aware, that the proper method to enable system-wide ASLR is to set the following registry options:
[code]
To properly enforce DEP, you would run `bcdedit /set {current} nx alwayson` at an elevated command prompt.

[2018-01-05 14:34] Sean-Brown commented on #1403
I'll give BusyBox MinGit a shot, if it works I'll favor it over my hack using `git submodule--helper`, which I got to work for pulling submodules by:

1. running `git submodule--helper update-clone --update checkout`
2. `cd` into each submodule directory and run `git reset --hard`, since for some reason I can't get that update-clone command to actually pull down the changes (Git thinks I want to d

[2018-01-05 15:05] dscho commented on #1412
@NightmareJoker2 you would have a ton more credibility if you would not have claimed to be able to fix Perl with regards to ASLR "in less than 5 minutes", without ever backing up such a strong claim with anything substantial.

I am not saying that your statements are incorrect. I am saying that I doubt them, based on how past claims held up in bright daylight.

[2018-01-05 15:06] gyandeeps commented on #1219
I have seen this issue discussed in various JS communities. Just wanted to know if this is going to be fixed in the future or not. Just asking so that user can take appropriate action like using the workaround as described above or start using something else, etc.
Thanks

[2018-01-05 15:14] dscho commented on #1219
@gyandeeps I have a lot of sympathy for your situation.

But please also see mine: there are tons of open tickets here. Some of them describe really hard-to-solve problems (last time I dove into MSYS2 issues, it took me three days, straight, to just *understand* the issue, that's how hard MSYS2 things are to debug, and in those three days I could not address any other issues on the bug tracker). S

[2018-01-05 15:32] NightmareJoker2 commented on #1412
@dscho I did not claim "fixing it" would take me five minutes. I said in https://github.com/git-for-windows/git/issues/1196#issuecomment-348006411, and I quote: "[I] could send in a pull request [of what I already have] in less than 5 minutes, if I wanted to".
That said, you can read the material I have referenced yourself, verify it, and do not need to put any trust in my words. In fact, I don't

[2018-01-05 15:42] dscho commented on #1403
Thanks for your feedback! I will try to set aside time (hopefully in the next sprint) to try to get BusyBox-based MinGit further along.

[2018-01-05 15:43] gyandeeps commented on #1219
Sorry to come off so needy. And I do understand you situation and thanks you for all your efforts.

I just wanted to make sure that this issue does or doesnt fall under "will not be fixed" bucket since some of the discussion (way up top) led me to believe that.

[2018-01-05 16:43] ninevoltbatterie commented on #1418
When I tried the 32-bit version of Git for Windows, I just installed it alongside my existing 64-bit install.  Do I need to have uninstalled the 64-bit version first?

I'd be happy with that workaround, but I remain unconvinced that the problem I'm seeing with my 64-bit is the same as the others had, since I _can_ clone from my repository (if I only choose a subdirectory) and do all sorts of other

[2018-01-05 16:47] dscho commented on #1219
@gyandeeps if you have some rudimentary C skills, you could help me fix it. I know how to fix it, I simply lack the time. Do you have time?

[2018-01-05 16:48] dscho commented on #1412
Yes, all of this makes me trust those claims even less. Now you are suggesting to switch to CMake. Seriously.

[2018-01-05 16:50] dscho commented on #1412
@conioh let's get back on track and just ignore the distraction, okay? Please feel free to reach out if anything in my write-up is unclear (or does not work as advertised).

And thank you for offering to contribute!

[2018-01-05 16:51] gyandeeps commented on #1219
I did little bit C back in 2006 but never done it after that. If you can give me some pointer then I can try.
Might have to get my laptop setup for this...

[2018-01-05 17:05] dscho commented on #1418
32-bit Git for Windows should just uninstall any previous Git for Windows, whether 32-bit or 64-bit. It is possible that it does not, and maybe that causes problems in and of itself.

What I would suggest instead, if you need 32-bit Git for Windows only sporadically (or only for specific use cases) is to use a portable Git. They don't install into the Start Menu, and therefore can easily be instal

[2018-01-05 17:20] NightmareJoker2 commented on #1412
You are not supposed to trust me, you are supposed to verify them for yourself. That is the whole point of the exercise. I want you to learn something rather than take what I say at face value.

What is the problem with that? Using CMake or a similar build system abstraction layer gets you binaries built with the native tools and is easy to integrate with a continuous integration system that tells

[2018-01-05 19:51] dscho commented on #1219
The MSYS2 runtime (which is responsible for handling Ctrl+C) is actually written in C++...

Have a look here: https://github.com/git-for-windows/msys2-runtime/commit/0b90c6aa0aa205dedc67cd1c796f44c5264059ff

What needs to be changed in this commit is the way `exit-process.h` works: it traverse the process tree in all cases, not only when falling back to `TerminateProcess()`. Then, it should go bac

[2018-01-05 19:58] dscho commented on #1412
1. Writing about the benefits of CMake without any consideration of the costs is just uninformed. Please stop suggesting it without even converting a single project (you would not tout that horn if you had done that; I have).
2. The MinGW compiler has no problem. If you want to be taken seriously about your claims, you have to get the facts right.
3. Passing compiler flags is not difficult. That's

[2018-01-05 20:53] ninevoltbatterie commented on #1418
@dscho Thank you for elaborating.

I tried portable, and got this (which I've seen in other tickets, and I tried running git-bash as administrator):

[code]
Trying to clone the repository anyway resulted in:
[code]

Rather than go down that road, I uninstalled both the 32 and 64-bit versions I had, then reinstalled the 32-bit version.  I opened git-bash (as administrator), didn't get the mkdir err

[2018-01-06 00:33] taylorb-microsoft commented on #1007
On a hunch I tried using the same fix for https://github.com/git-for-windows/git/issues/1403 of using mingit (based on @dscho recommendation) and it worked!  and it works on Nanoserver as well (bonus!).

[code]

[2018-01-06 10:50] StefanScherer commented on #1007
Thanks @taylorb-microsoft for the heads-up for #1403. I'll give it a try.

[2018-01-06 14:38] StefanScherer commented on #1007
Yes, when I use MinGit busybox ZIP then both clone and checkout work.
I've updated my test env and Dockerfile https://github.com/StefanScherer/dockerfiles-windows/pull/254

So it works for my use cases.
Shall I close this issue? How about the other participants?

[2018-01-06 16:42] ahmedmohiduet commented on #1417
let me check

[2018-01-06 20:52] dscho commented on #1007
I think [this issue](https://github.com/git-for-windows/git/issues/1007#issuecomment-291620810) still persists...

[2018-01-06 22:31] fjbsaper commented on #1377
@dscho
Well the old laptop I was having the problem with turned to slag. (corrupted bios) and the new one luckily doesn't have this problem...

[2018-01-06 23:08] NightmareJoker2 commented on #1412
You are pretending to know something you cannot possibly have any knowledge about. You know how the saying goes: "If you assume..." (I'll stop there)

It does have several problems. The people from the VideoLAN, Rust, or Bitcoin projects can sing you songs about it. If you feel what I say is incorrect, point it out, detail your issue and render proof of error and I will correct it for future use.

[2018-01-06 23:17] conioh commented on #1412
@dscho:

I hope to take a look at it the coming week.
I understand from the instructions you wrote that the SDK you prepared includes everything necessary to build GfW from source. (That is, I can install it on an empty Windows 10 VM and everything will work.) Correct me if I'm wrong.

The joker did have one valid point that got lost inside all the nonsense he wrote. I intended to raise it after I

[2018-01-06 23:18] conioh commented on #1412
@NightmareJoker2:

You haven't got the faintest idea what you're talking about. Please stop wasting everybody's time. The amount of nonsense you wrote is literally incredible.

This is doubly- (or even triply-) wrong.

The flags you enabled here are (documented on [here](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686880(v=vs.85).aspx)):
`0x000001` - **PROCESS_CREATION_MITIGATION_PO

[2018-01-06 23:51] NightmareJoker2 commented on #1412
Undocumented, obviously. And since that's the case, I can't say at this time.

The solution to which would be fixing the binaries so they can run with the protections enabled.

Wrong.

The registry options are not set by the new Exploit Guard protection options, they used to be set by EMET, which is no longer supported. Setting the registry option to enforce the options, will cause the exclusion r

[2018-01-07 03:11] pclouds commented on #1390
This is more about dwim-ing than paths outside the current git project. Yes only the last component of the given path is used for branch name when -b is not given. But how do you decide how many path components should become the branch name? what if you do "git worktree add ../foo/bar" when you're still inside the current project but at subdir "somewhere" instead of at the top directory?

If you c

[2018-01-07 05:16] maplion opened #1422 "Properly Color Failed Remote Push Messages"
I have some colleagues that occasionally have issues with Git [in a team setting] simply because they miss the message when a push is made prior to a required pull and they miss the message that it failed to successfully push.  This is because a success shows a block of white text and a failure shows a block of white text.  It would make sense for usability purposes if a `git push origin <branch n

[2018-01-07 16:04] ahmedmohiduet commented on #1417
tried. still same result. I am starting new windows by:
`start "" "C:\Program Files\Git\usr\bin\mintty.exe" -w full "C:\Program Files\Git\bin\bash.exe" --login`

[2018-01-07 16:47] conioh commented on #1412
That why did you specify it? Because you're an idiot? Because you're an idiot.

Fine. Then you go ahead and do it if you're so smart. The sane people will continue working with the approach that gave millions of Windows users the ability to use Git.

Wrong.

Not only wrong, but also incredibly dumb. Like the rest of your nonsense.
First, WDEG is the supported replacement to EMET on Windows 10 FCU,

[2018-01-08 01:29] kasper3 opened #1423 "Installer does not ask where should it install this product"
In a typical windows installer, user is presented with a directory picker where it should install the product. The default value is a hardcoded string such as `C:\Program Files\git` or the path chosen during the previous installation.

Is it something we can expect from git installer in a foreseeable future?

PS I don't know which environment variable or registry value was set on my system, that i

[2018-01-08 09:58] garzaj commented on #1256
Thanx a lot to everyone who made this possible!!! Specially @bufferoverflow who triggered this.

[2018-01-08 10:49] shiftkey commented on #1423
It's the first option you see when running the installer:

<img width="522"  src="https://user-images.githubusercontent.com/359239/34667590-048bbe2a-f440-11e7-9a3e-6979765db0c0.png">

[2018-01-08 10:49] #1423 closed

[2018-01-08 12:47] romerod commented on #1007
Tried my luck with mingit busybox too, unfortunately git init has the same problem.

C:\mingit\cmd\git.exe init

fatal: Invalid path '/ContainerMappedDirectories': No such file or directory

[2018-01-08 13:10] dscho commented on #1412
That's the wrong binary for starters.

And then some.

@conioh I would like to implore you to avoid getting emotional about this. And please, please do not get lured into name calling and insults. I really want this project to be a nice place. I actually do more than that: I require it to be a nice place, because I have to work in it.

I sadly agree with the problematic nature of the claims and th

[2018-01-08 13:14] shiftkey commented on #1422
@maplion can you attach screenshots of the error messages, for completeness?

Also, I think this might need to be addressed in Git core, rather than Git for Windows. But we can talk about that in more detail later.

[2018-01-08 13:24] dscho commented on #1422
That's a good idea.

Please understand that this project is not lacking in feature requests, but seriously lacking in contributors implementing said features.

So here is a New Year's challenge for you: implement the desired feature yourself. It is not witch craft, look at how many contributors succeed in adding their work to Git: https://github.com/git/git/pulse

# Step 1: decide how you want to

[2018-01-08 13:27] dscho commented on #1417
I am starting new windows essentially by calling `C:\Program Files\Git\git-bash.exe` (which internally launches `mintty.exe` but also sets things up a bit more properly, e.g. forcing MSYS2 into MINGW mode, setting an AppId, etc). Maybe try that?

[2018-01-08 13:47] dscho commented on #1423
IIRC if you installed it previously, it skips that page and installs into the same place. I would consider that a feature...

[2018-01-08 14:26] david-russo commented on #1363
Yeah, I have the same `which curl` output.

I should note that the crt file being searched for in all cases except the last seems to be curl's default `curl-ca-bundle.crt` and not `ca-bundle.crt`, and the access attempt for the only correctly named file (the last) happens after some further processing, is done *twice* in quick succession for the same path, and fails both times. Everything occurs i

[2018-01-08 14:48] dscho commented on #1363
That is interesting. What does `curl -V` say (and `curl.exe -V`)?

[2018-01-08 14:55] dscho commented on #1007
Yep, that's the very same issue I was referring to...

[2018-01-08 15:05] david-russo commented on #1363
Both (in Git Bash) report:
[code]

[2018-01-08 16:29] maplion commented on #1422
@shiftkey Yes, I thought that might be the case, but since I am primarily using Git for Windows, I figured I'd start here and work up if needed.

[2018-01-08 16:29] dscho commented on #1363
In this mode, cURL does not (need to) look for `ca-bundle.crt`.

[2018-01-08 16:31] maplion commented on #1422
@dscho Thank you for the information.  If I get a spot of free time, I'll take you up on your challenge.

[2018-01-08 16:33] #1377 closed

[2018-01-08 18:51] afsmith92 commented on #1219
@dscho I'd be willing to give this a shot. I've been able to successfully rebuild `msys-2.0.dll`. As for the actual code changes -- I want to make sure I understand the approach you're suggesting.

So I might write a function similar to `terminate_process_tree` e.g. `safe_terminate_process_tree`. It appears `terminate_process_tree` first collects all of the process ids in the tree and then iterate

[2018-01-08 20:06] dscho commented on #1219
You have no idea how thankful that makes me. I've been agonizing about this, as I realistically lack the time.

Oh, there is no need to introduce another function there. Just modify `terminate_process()` to take a callback function for every process ID in the process tree (if you want, you could rename it to `enumerate_process_tree()`...).

Then, just pass different callback functions for SIGINT,

[2018-01-08 22:40] kasper3 commented on #1423
The reason why I opened this issue..

[2018-01-09 09:35] dscho commented on #1423
@kasper3 as explained by @shiftkey, your report was incorrect in presenting it as if this was an issue always. I consider it a feature that it does not ask again where to install Git for Windows when you already made up your mind previously.

[2018-01-09 09:37] dscho commented on #1418
Sorry, these are really warnings, and I keep meaning to shut them off.

This *should* be addressed as part of the installer (see https://github.com/git-for-windows/git/wiki/32-bit-issues for details). Can you try running `rebaseall` (as described on that wiki page) manually?

[2018-01-09 10:40] PhilipOakley commented on #1423
This feature is something that is usually useful, but occasionally very annoying (it happened to me a long while ago), in that most of the time the previous decision can still stand as being good, but occasionally, if one want to change something (i.e. this install location), then at the moment we don't (IIRC) provide the option to change anywhere (maybe on one of the other mandatory option pages?

[2018-01-09 11:35] david-russo commented on #1363
I uninstalled Git and then re-installed with the Windows Secure Channel option selected, but results are still the same. Do you not receive an error if you rename `/mingw64/ssl/certs/ca-bundle.crt` when using WinSSL?

I'm not sure if this is related, but just in case it could be: my "My Documents" folder is mapped to a network drive, which is where the git settings are kept, and in Git Bash `$HOME

[2018-01-09 12:38] dscho commented on #1363
Indeed, I don't. I still suspect that a different `curl` is at work, maybe you have an alias or something. You can verify my suspicion (or disprove it) by using Process Monitor and right-clicking on the label `curl.exe` in Process Monitor's output, then selecting "Properties".

That should not affect things. I am quite puzzled that your `curl.exe` claims to be at the correct version, using WinSSL

[2018-01-09 12:43] dscho commented on #1423
@kasper3 if you want to do that, these two links should help you to get there:

1. https://github.com/git-for-windows/git/wiki/Making-an-installer (note that the file you will want to change is in `/usr/src/build-extra/installer/install.iss` once you followed those instructions)
2. https://www.jrsoftware.org/ishelp/index.php?topic=setup_usepreviousappdir

[2018-01-09 13:27] dscho commented on #1363
Let me clarify that I did not rename `C:\Program Files\Git\mingw64\ssl\certs\ca-bundle.crt`. Did you?

What I meant is that I do not get an error about reading that file, because cURL should not even read it in WinSSL mode.

[2018-01-09 13:41] david-russo commented on #1363
No, I've never renamed it or modified any of the files under the installation directory.

Under Process Monitor's Event Properties, and Process tab, the path given is:
`C:\Users\<Username>\AppData\Local\Programs\Git\mingw64\bin\curl.exe`

[2018-01-09 14:20] david-russo commented on #1363
OK, as mentioned [here](https://github.com/curl/curl/issues/2209), the backends in parentheses, such as "(WinSSL)", apparently refer to the *inactive* backends. I've found the correct keyword to use is `schannel`, not `winssl`. So this works fine for me:

`CURL_SSL_BACKEND=schannel curl https://api.github.com/repos/git-for-windows/git/releases/latest`

Should my installation configuration to use S

[2018-01-09 14:25] dscho commented on #1408
@luochen1990 hello?

[2018-01-09 14:35] ninevoltbatterie commented on #1418
OK, I tried running that but got output I can't even really decipher:
[code]

Also, the instructions say, "terminate even background processes that use the MSYS2 runtime, such as ssh-agent".  I use another installation of cygwin on my PC, too.  Could that be getting in the way?  I do close it before trying any of this, but is there a way to be sure I've ended all the necessary processes?

[2018-01-09 16:05] dscho commented on #1363
Oh, right! I forgot about that.

And you're correct, we should force this in `git-update` by setting `CURL_SSL_BACKEND=schannel`.

But I am still curious why you have those problems, and I figure it *might* have something to do with the patch `C:\Users\<Username>\AppData\Local\Programs\Git\mingw64\bin\`. Is there a space in your username? (It should not matter... there is a space in `Program Files

[2018-01-09 16:51] dscho commented on #1418
Is this running in an elevated CMD?

That's Cygwin. Not MSYS2.

[2018-01-09 17:04] ninevoltbatterie commented on #1418
Yes.  I ran it with "Run as administrator".  The title bar on the CMD window says "Administrator: C:\Windows\System32\cmd.exe".

[2018-01-09 17:18] dscho commented on #1418
Can you call `dash` with `-x` to trace the execution a bit more?

[2018-01-09 17:50] david-russo commented on #1363
I'm sorry to say my username consists entirely of plain, vanilla, lowercase ASCII letters, but I'm open to suggestions for any further testing you'd like to have me do :)

[2018-01-09 19:04] k-j-kleist commented on #1342
I'm a Windows Insider in the Slow Ring, and also encountered this issue using build 17025.

Just now, I updated to build 17063 and this issue now seems to be history.

[2018-01-09 19:50] afsmith92 commented on #1219
@dscho thanks for clarifying. [Here's my first attempt at it](https://github.com/afsmith92/msys2-runtime/commit/f573547869c9a4de5422d53c6e3b9a8c9a44c2ec)

There's still some cleanup/commenting to do, but let me know what you think of what I have so far.

This version seems to handle the node.js example described in this issue, but it's possible it's just falling back to `TerminateProcess`. I tried

[2018-01-09 20:05] ninevoltbatterie commented on #1418
[code]
I created a file 'mytest' in the same directory as 'rebaseall' with these contents:
[code]
Then trying to run it in the same manner, I get:
[code]
I'm a little confused by cmd calling dash calling dash here and I don't understand where this is going awry.

[2018-01-10 01:56] luochen1990 commented on #1408
@dscho Thanks for your attention, I'm not sure what should I do now.

Report an issure to the upstream project git/git ? but it seems not accepting issures from github.

Provide a mvce?  I think I already provided, since this problem is caused by the configuration and commands I executed, not the repo, you can reproduce it on any current repo and foo repo.

[2018-01-10 06:15] Custodia commented on #1403
My problem now is that I'm trying to use the machine as a Jenkins slave. It works perfectly fine if I add the ssh keys to the image manually but if I try to pass the keys from the master the build will fail because of the OpenSSH permission problems on windows. Doesn't sound like using mingit would help either since it's using the same version of ssh as the regular git installation.

Git was last

[2018-01-10 10:28] david-russo commented on #1363
After fooling around with `git-update.sh`, I've discovered that there doesn't seem to be any kind of issue with curl use in the script – it finds the CA bundle just fine – the lack of output I'm currently experiencing is due to this line:
https://github.com/git-for-windows/build-extra/blob/bf7da38ebe6444af795a2a4789e02cae5721aab8/git-extra/git-update#L160

Removing the line allows the script to re

[2018-01-10 14:23] dscho commented on #1363
Splendid!

Yeah, the idea is that it should not notify the user multiple times (it can get quite annoying if it does remind the user every single day that there is a new version when the user already declined to update).

There is a `--testing` option that overrides this behavior...

[2018-01-10 14:39] Zeex commented on #1410
I had the same issue today. Deleting `.git/packed-refs` fixed it. I'm not sure if this is safe to do, but I haven't noticed any damage so far.

[2018-01-10 15:30] dscho commented on #1342
Excellent, thanks for the feedback!

[2018-01-10 16:51] dscho commented on #1219
@afsmith92 That looks really good! Now we only need your signoff (i.e. a `Signed-off-by:` line as in https://github.com/afsmith92/msys2-runtime/commit/9f53930476936329eeb40b010dab8925227da061, essentially to testify that you can legally contribute this code to this project), and a better commit message...

[2018-01-10 16:58] taylorb-microsoft commented on #1403
This line 'RUN Powershell.exe -ExecutionPolicy Bypass -Command ". %OPENSSH_INSTALL%\FixHostFilePermissions.ps1' should fix the prems on the keys

[2018-01-10 17:08] david-russo commented on #1363
Ah, I see. That makes sense from an automatic-check perspective, but if I'm running `git update` manually I'd expect a response.

[2018-01-10 17:11] dscho commented on #1408
Answer @PhilipOakley's questions?

[2018-01-10 19:23] billerr commented on #1338
Hi!
Actually, at the time of reporting, it was actually a Verifiable example, per the term's definition (invoking the commands reliably reproduced the problem).

Anyway, I'm reporting back what solved it for me, in case someone else comes here looking for a solution:
I went on re-installing versions 2.10.0 through 2.14.3 (on top of existing installation to rollback the version) and the problem act

[2018-01-10 19:24] billerr commented on #1339
Nope, no custom prompts here.

Anyway, I'm reporting back what solved it for me, in case someone else comes here looking for a solution:
I went on re-installing versions 2.10.0 through 2.14.3 (on top of existing installation to rollback the version) and the problem actually solved itself. I have no info on what caused it, but that's what got this fixed.

[2018-01-10 19:50] mvmalygin opened #1424 "Git hangs on interactive rebase command (Windows 10 Enterprise 1709)"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-10 19:52] Custodia commented on #1403
@taylorb-microsoft That doesn't help since Jenkins generates the key files on demand into temporary folders. I also can't add that to any running builds because cloning happens (and fails) before anything else. I'm reverting to https for now because I don't want to bake the ssh perm files into the docker images. But the solution did work perfectly fine when I tried that.

[2018-01-10 20:33] afsmith92 commented on #1219
@dscho I updated the commit message and fixed the indentation issue: https://github.com/afsmith92/msys2-runtime/commit/574b7ecbdad40aa08fe0fcb12a23f0738aa13c69

A couple things:
* is there any other testing you would suggest doing? I'd prefer not to blow things up :smile:
* I'm not clear on the contribution process. Do I need to create a PR? I saw something about submitGit being used to submit the

[2018-01-10 20:37] dscho commented on #1363
Makes sense. So instead of `--testing`, it should be renamed to `--quiet` and invert the meaning.

Sadly, I won't have time to implement this anytime soon. If you open a Pull Request, though... 😁

[2018-01-10 20:53] dscho commented on #1424
This issue does not reproduce here at all, so you will have to look a bit deeper on your side (as it only reproduces on your system)...

Maybe executing it with `GIT_TRACE=1` will make it more obvious what is going wrong? Or with [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)?

[2018-01-10 20:55] dscho commented on #1338
Okay, thanks for reporting back!

[2018-01-10 20:55] #1338 closed

[2018-01-10 20:56] taylorb-microsoft commented on #1403
@Custodia do you have any control over where the keys are placed? i.e. we might be able to fix this via the right inheritance settings on the root directory.

[2018-01-10 20:57] dscho commented on #1339
Okay, thanks for letting us know!

[2018-01-10 20:57] #1339 closed

[2018-01-10 20:59] dscho commented on #1410
You most likely deleted all kinds of tags and branches. Not safe.

[2018-01-10 21:05] taylorb-microsoft commented on #1007
I was also just able to verify using the latest Windows Insider build along with the latest Windows Insider container image we did fix this even with stock Git for Windows!

Host:  https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewserver
Container Image:  https://hub.docker.com/r/microsoft/windowsservercore-insider/

[2018-01-10 22:05] dscho commented on #1219
I assume you copied the `msys0.dll` over an `msys-2.0.dll` in a PortableGit and verified that it works as expected? That would constitute enough testing for me...

Oh, that only applies to patches for https://github.com/git/git. In Git for Windows, we're happy to accept the much easier Pull Requests.

Thanks!

[2018-01-10 22:20] afsmith92 commented on #1219
Yup, should be good to go if there are no other comments on [the PR](https://github.com/git-for-windows/msys2-runtime/pull/16). I'll squash the commits when you're ready to merge.

[2018-01-10 22:25] Zeex commented on #1410
I'm pretty sure all branches and tags are in place. I had this in multiple repos. Maybe I'm just lucky.

[2018-01-10 22:28] #1219 closed

[2018-01-10 22:29] dscho commented on #1219
Thanks, I already did that ;-)

[2018-01-10 22:32] afsmith92 commented on #1219
:+1: Thanks for figuring out the fix!

[2018-01-10 22:42] dscho commented on #1007
@taylorb-microsoft excellent, thanks for testing! I did not know whether there were Insider builds available with the fix, it is really good to know that there are!

[2018-01-10 22:46] dscho commented on #1418
Oh, you know what it is? It's CR/LF line endings... I had the very same issue in one of my build agents today.

So this worked for me:

[code]

[2018-01-10 22:48] dscho commented on #1418
You have to call dash within dash to make sure that it executes the script using dash... And if I interpret the symptoms correctly, dash tries to execute the carriage return at the end of the lines as if it were a command...

[2018-01-10 23:10] dscho commented on #1410
Or you are missing branches and tags you do not know about (remote-tracking ones, for example).

It is really not safe to go around `.git/` and delete files. Not safe at all.

[2018-01-10 23:45] Zeex commented on #1410
I agree, it was dumb. I had a backup.

If it helps, my `.git/packed-refs` was 0 bytes in size. In fact, if I move my existing `packed-refs` file and create a new one with `touch .git/packed-refs` I get the same error. My "valid" file contains only this line:

[code]

[2018-01-11 00:28] kgybels commented on #1410
@Zeex Yes, that helps.

@dscho The problem happens because [xmmap_gently](https://github.com/git/git/blob/v2.15.1/sha1_file.c#L698-L699) returns null when mmap fails but length is zero. This leads to the problem of not knowing if we should call munmap or not, if mmap succeeds we should have a matching call to munmap.

I suggest adding a matching xmunmap to handle this case that needs to be used to

[2018-01-11 03:09] luochen1990 commented on #1408
Not tested on linux, this chould be an upstream problem.  Anyone can help to verify that?
Maybe I can help to test it on macos .

[2018-01-11 07:13] Custodia commented on #1403
The keys are stored in `C:\\Build\\Workspace\\BuildName@tmp\\sshXXXXXXXXXXXXXX.key`, so you do know where they are stored but you would have to predict the build names when building the docker containers which is also too much of a hassle compared to just using https.

[2018-01-11 09:28] SteveALee commented on #1410
So pleased there's some progress! I had little luck finding useful info with procmon

[2018-01-11 12:56] sharegame commented on #1400
fatal: open /dev/null or dup failed: No such file or directory
same problem as @Charleskie
system :win10x64 10.0.16299.192
git:Git-2.15.1.2-64-bit.exe
and choose all default options during the installation

[2018-01-11 15:13] ninevoltbatterie commented on #1418
Running rebaseall in that manner ran without any output.  My clone operation has begun successfully (but will run for a few hours yet).

Thank you so much, @dscho , for your persistence and help.  I really felt that I was at a dead end.  Will you add a mention of this CR/LF issue to the page about the 32-bit issues that you linked to above?

[2018-01-11 15:39] ninevoltbatterie commented on #1418
Oh, one thing- I needed to use double quotes around the "cd / && ..." portion.  Something wasn't getting sent to dash correctly with single quotes.  Note that it also echos the trailing single quote when using single quotes:
[code]

[2018-01-11 19:12] StefanScherer commented on #1007
Thanks @taylorb-microsoft for the news. Indeed there is no "ContainerMappedDirectories" link when I map a folder into a container:

[code]

Hope this makes it into next official semi annual release!
I'll have to re-try some other languages like Node.js as well... :-)

[2018-01-11 20:36] dscho commented on #1418
I feel this should be fixed instead ;-)

[2018-01-12 13:56] dscho commented on #1400
Am I really being unclear?

I need a *lot* more complete information to be able to work on this. Please at least *try* to provide extensive information. Thank you.

[2018-01-12 14:06] dscho commented on #1400
Also: has any of you had a look at https://github.com/git-for-windows/git/issues/1016?

To me, it looks as if this here ticket were a clear duplicate of that ticket.

[2018-01-12 14:10] dscho commented on #1400
See also https://cygwin.com/ml/cygwin/2007-03/msg00358.html

[2018-01-13 10:31] kasper3 commented on #1423
That's right Johannes, the current behavior of installer affects user experience on "re-install only".
Sorry I do not have much experience with installers and C, so can't help there.
Not sure if the state of this issue remain closed by maintainers, will it ever get fixed by potential contributor..

[2018-01-13 16:37] kgybels commented on #1321
@dscho Thank you for picking up the slack. I just confirmed that the bug is fixed in v2.16.0-rc2.windows.1. We can close this issue, or will it be automatically closed when the commit reaches a certain branch?

[2018-01-13 18:50] dscho commented on #1423
Judging by your enthusiasm to get busy and fix your problem, I imagine that it does not matter whether this ticket is open.

It is an all-too-common fallacy I encounter many, many times: for some reason, there are people out there who think that tickets that are left open will -- by some miracle -- get the ticket addressed by _somebody_.

This is wishful thinking and seems to have little to do wit

[2018-01-13 18:53] dscho commented on #1321
I think we can close it ;-)

[2018-01-13 18:53] #1321 closed

[2018-01-13 20:40] mvmalygin commented on #1424
There is some looping:
 GIT_TRACE=1 git rebase -i HEAD~2
22:35:30.178986 git.c:576               trace: exec: 'git-rebase' '-i' 'HEAD~2'
22:35:30.178986 run-command.c:626       trace: run_command: 'git-rebase' '-i' 'HEAD~2'
22:35:30.699754 git.c:344               trace: built-in: git 'rev-parse' '--git-dir'
22:35:30.824750 git.c:344               trace: built-in: git 'rev-parse' '--git-path' 'obje

[2018-01-13 23:46] PhilipOakley commented on #1423
@kasper3 clarifying, Issues are not locked to further contributions. The top level 'closure' was/is more of a triage by the lead maintainer so that it is easier to see the new and progressing issues. If we left open all issues that _might_ get a _bit_ of attention _eventually_ then we souldn't be able to see the wheat from the chaff.

A PR, even in draft, with bits missing (but noted as so) is ver

[2018-01-13 23:51] Stanzilla commented on #1365
Nope, checked all of that. My current guess is that VSCode or SourceTree is trying to `git status` right when the PC is trying to shut down and that makes it error.

[2018-01-14 02:54] rexdf commented on #1365
What about a screenshot of `Dependency Walker` ?  View/Collapse all.

Type `path` in command line. what's the result?

Type `where git` in command line? What's the result? How many are there?

Which git is vscode using? prove it.

[2018-01-14 10:35] kasper3 commented on #1423
Usually repo maintainers let the reporter decide when to close the issue as opposed to slapping doors on face, unless the issue is inactive for ridiculously long time.

Woah easy, i am not *demanding* anything from you. I have reported something that I think is an issue, but now that you are saying it may or may not be perceived as enhancement.. though I am not seeing any fans of current behavior,

[2018-01-14 12:33] dscho commented on #1423
@kasper3 I do not consider this a bug. It works as intended. If you disagree, it is your solemn duty to do something about it. That's all I had to say, and maybe this is even the last time I'll say it.

[2018-01-14 12:37] dscho commented on #1408
It would be a ton easier if your MCVE was really a complete example, and not something people had to think deeply about when trying to reproduce. I mean, look at this:

[code]

And this is already happening for the *first* step of the purportedly Minimal, _Complete_, _Verifiable_ Example...

[2018-01-14 12:42] dscho commented on #1424
Is there *any* chance to get you to work on providing a [Minimal, Complete & Verifiable Example](https://stackoverflow.com/help/mcve)?

The information so far leaves me more puzzled than anything else...

[2018-01-14 14:17] luochen1990 commented on #1408
My fault, It's just a feedback, I think this can be reproduced with any `foo` repo and current repo, but providing a permanent available url for a `foo` repo to reproduce that problem seems too expensive for me. And now I think that it must not be a problem of git-for-windows, maybe it is a problem from the upstream, or a using problem.  so just ignore me.

[2018-01-14 14:17] #1408 closed

[2018-01-14 15:08] HiddenTesla commented on #1360
@dscho
No problem.The repository was really big (over 13GB after build), and the computer had been running for days.
Maybe something happened to go wrong, and it was just an occasional malfunction.
If not reproducible, can we close this ticket, or follow up?

[2018-01-14 19:55] dscho commented on #1360
@HiddenTesla can *you* reproduce? If so, can *you* reproduce with a smaller repo? Please perform this diligence.

[2018-01-14 20:01] dscho commented on #1408
I do think that it is really necessary for you to try to come up with a minimal reproducible example. It needs to reproduce on your machine reliably first, and only then you can assume that it may reproduce elsewhere.

There is just no alternative to being thorough, please understand that. Trying to fudge your way through, probably with the intention of saving time on your side, will most likely h

[2018-01-15 01:45] raymondoyj commented on #1413
64-bit. I try to verify that I run a local svn repository. It works. Maybe it is limited in the network of my company.

[2018-01-15 01:45] #1413 closed

[2018-01-15 05:42] maplion commented on #1422
@dscho I am having difficulty in building my project.  I went with the IDE option running it in Visual Studio with the solution file.  With a fresh pull (no changes), it doesn't seem to recognize a lot of identifiers, such as stderr, time_t, FILE, SSL, DWORD, etc., etc.  Is there a library or something I am missing?  I thought it had me install what it needed when I first loaded the solution.  Any

[2018-01-15 11:11] PhilipOakley commented on #1422
@maplion Which of the steps had you done, and which not?

I'm suspecting that you may need something that is downloaded via the SDK, even though you are using the Visual Studio build process. It (compiling) will depend on the state of the repository work tree, and if bits are 'missing' they maybe part of the SDK's download (most contributors at some time or other have downloaded the SDK, so that m

[2018-01-15 20:48] kgybels commented on #1400
@jackiilong @Charleskie @sharegame Could you try opening a command prompt and executing the following:
[code]

Here is how that looks on my system:
[code]

Please report your results here.

[2018-01-15 21:38] kgybels commented on #1424
I think this in another case of DLL injection causing problems, see issue #1153.

@mvmalygin Can you try [tanmatra's example](https://github.com/git-for-windows/git/issues/710#issuecomment-205323939):
`count=$(cat "/etc/fstab" | wc -l); echo count=$count`

Here is what it should look like:
[code]

However, if my guess is right, you will not get any output.

---

More information about my investiga

[2018-01-15 22:59] mvmalygin commented on #1424
@kgybels You're right. Output is empty:
[code]
But I do not fully understand, how to fix the problem.
I will try to uninstall my COMODO Internet Security just later.

[2018-01-16 03:57] zakkirkharim commented on #1336
We are trying to use yang2dsdl with gitbash and we get a similar of missing DLL. We are using git version 2.15.1, and I wonder why this issue there if 2.15.0 itself is fixed. i.e. it has msys-xml2-2.dll but not this icuuc dll.
Is the solution suggested that git should not have any such libxml2 related dll and we should separately download xsltproc/xml dlls if wants to use those libraries?

[2018-01-16 06:07] maplion commented on #1422
How do I run the test suite?

[2018-01-16 06:21] maplion commented on #1422
Also, could someone explain the documentation and how to properly contribute to it in my case [not sure how this particular change would be relevant to the documentation I am seeing]?

[2018-01-16 10:34] mvmalygin commented on #1424
@kgybels Thanks. I will report about result.

[2018-01-16 17:33] maplion commented on #1422
How do I create a production-like build so I can use it in the mean time?

[2018-01-16 19:14] kgybels commented on #1422
Check the [Making an installer](git-for-windows/git/wiki/Making-an-installer) and [Making a portable Git](git-for-windows/git/wiki/Making-a-portable-Git) topics on the wiki, both methods require you to install the Git for Windows SDK though.

I think it would also work to install a Git for Windows release, and then copy a release build over the provided git.exe. However, do keep in mind that there

[2018-01-16 19:23] maplion commented on #1422
@kgybels thank you again.  I will try out the SDK for the learning experience, if nothing else.

[2018-01-16 19:46] sryze opened #1428 "fatal: Not a git repository (or any of the parent directories): .git (but .git exists)"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Git 2.15.1.windows.2
 - 64-bit
 - Windows 10

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What options did you set as par

[2018-01-17 08:47] larsxschneider commented on #1256
hey folks! in a [discussion on Twitter](https://twitter.com/jschindelin/status/953529685513732097) @gbraad wrote that `git update` might confuse users. The "update" command could easily be misinterpreted as "version control command". I agree with him.

As an alternative I think `git upgrade` might make sense. What do you think?

[2018-01-17 08:54] garzaj commented on #1256
Hey all! @larsxschneider @gbraad To be sincere, I believe the best would be to trigger the update automatically and just ask the user if he wants to do it now or later by default.

[2018-01-17 09:06] larsxschneider commented on #1256
I think that would be a separate discussion. I really like the explicit command for the upgrade as changing the version control system can have a severe impact (e.g. some workflows don't work anymore because of the new version of something).

[2018-01-17 09:06] larsxschneider commented on #1256
I proposed the change here in a PR: https://github.com/git-for-windows/build-extra/pull/167

[2018-01-17 09:09] garzaj commented on #1256
ok, you are right, I agree and I believe most of the people would!

[2018-01-17 10:53] sryze opened #1430 "Can't use old repositories with 2.15.1.windows.2"
When I execute `git diff` or `git rebase` in an existing git repository that worked before I get the following error:

[code]

This started happening after I reinstalled Windows and consequently reinstalled Git for Windows. I think I had an older version of Git before which worked flawlessly with these repositories. I din't move the repos to another partition or disk, they stayed on the same NTFS

[2018-01-17 11:44] sryze commented on #1430
After some debugging I found that the [`GetFinalPathNameByHandleW()` call in `mingw_chdir`](https://github.com/git-for-windows/git/blob/d0192a7c4e03bb57edcd04ca783ecf349102f549/compat/mingw.c#L696) (which is called by `setup_work_tree`) returns 0 and the error is set to `ERROR_PATH_NOT_FOUND`. Documentation on this function says:

https://msdn.microsoft.com/en-us/library/windows/desktop/aa364962(v

[2018-01-17 11:47] #1430 closed

[2018-01-17 12:26] sryze commented on #1428
For some odd reason the `git/HEAD` and `.git/index` files contained a bunch of zeros instead of whatever should have been there. After I deleted `.git/index` and added `ref: refs/heads/master` to `.git/HEAD` I was able to use the repository again.

[2018-01-17 13:59] gbraad commented on #1256
Thanks! Good to see this being picked up...

[2018-01-17 18:19] dscho commented on #1360
Closing until we have a reproducer (MCVE).

[2018-01-17 18:33] dscho commented on #1400
@jackiilong @Charleskie @sharegame please do provide this information. You expect us to fix this, right? So you will understand that we expect you to react?

[2018-01-17 18:38] dscho commented on #1336
@zakkirkharim could you please elaborate a bit more? I do not understand what the problem is.

[2018-01-17 18:53] dscho commented on #1428
That sounds as if the Syncthing did not copy the files correctly?

[2018-01-17 18:57] sryze commented on #1428
Sounds like it.

[2018-01-17 18:57] #1428 closed

[2018-01-17 19:07] dscho commented on #1430
In many cases, you can move Git worktrees (including their `.git/` directory) freely. In some cases, this fails, e.g. when you have submodules or additional worktrees added by `git worktree add`.

[2018-01-17 22:59] peterdrowland commented on #337
So I'm relatively new to all this computer science business, but I just installed git bash and I'm having the same problem with git/windows not being able to find its own config file. I tried the link as kriegaex recommended, and it seemed to work, but when I restarted the program my progress was lost.

so I guess my real question is this: for a course I'm taking it wanted me to assign my user nam

[2018-01-17 23:07] tajmone opened #1431 "Git Bash for Windows: Odd Behaviour when Renaming with git mv"
git version 2.14.3.windows.1
    Win 10 x64

I was trying to rename a file's letter casing from Git Bash (thus hoping it will be dedected as a changed file), but the Bash responses where odd.

First, trying to rename the file with same name (why? I was attempting various approaches):

[code]

... but `NOTES_IT.md` is a file, not a directory!

Then trying to rename it using different letter casing:

[2018-01-18 00:18] PhilipOakley commented on #337
Hi Peter,
I guess you are using a computer that has been provided and not a personal computer - would that be right? (It is normally worth starting a new issue so that these basic points can be guided by the template).

It is worth having your own name in a config file. If you can't eneter it into the --global config file, then put it in the local config file (i.e. specific to the repository you a

[2018-01-18 05:08] tboegi commented on #1431
What does
git ls-files | grep -i NOTES_IT.md
say ?

[2018-01-18 06:04] #1410 closed

[2018-01-18 08:21] SteveALee commented on #1410
Wahoo!

[2018-01-18 09:21] tajmone commented on #1431
(I've renamed the file to `WORK_NOTES.md` in the meantime):

[code]

[2018-01-18 11:40] tboegi commented on #1431
There is are 2 different things:
The name that you ask Git to track (That is what git ls-files gives you)
The name on disk, where Windows treats WORK_NOTES.md and work_notes.md the same.

The correct way to rename it would have been:
git mv  WORK_NOTES.md work_notes.md
git commit
git push

[2018-01-18 12:14] tajmone commented on #1431
``Ok, I've created a test repository and carried out some tests.

The problem seems to occur only when the filename is changed via File Explorer (or other tools): in that case Git keeps referring to the file with the old name letter casing. Even the Bash keeps showing the old name with `ls`

Remaing via `git mv` always works, and Git and Bash are aware of the new name.

The problem here is that if

[2018-01-18 14:02] PhilipOakley commented on #1431
This is almost identical to #1333 "folder name should be case sensitive when switch branches" reported by @chucklu.

The problem is the underlying Linux assumption (that it's Linux/Posix!) so that if you ask for file name xXxX you get file xXxX.

The `git mv` works because it does all the actions in one go, so git does not need to ask the file-system what name the requested file goes by (its real-

[2018-01-18 14:27] tajmone commented on #1431
Adding a special command to manually "refresh" the list of filenames wouldn't be a bad idea either. This might also be a way to manually test the new implementation without embedding it into the built-in commands. Of course, this is a suggestion from soemone who doesn't have the clue of the inner workings of Git/Bash.

Thanks for adding the issue to the list of bugs.

[2018-01-18 14:40] asalwa commented on #1409
After 4 weeks I've found a moment to look at it (better late than never) :-)
I run git-sdk-installer-1.0.6-64.7z.exe, it downloaded and built a lot of stuff - I won't tell you I've read everything on console, but at least it didn't left any error message on my screen.
New "SDK-64" windows was left on my screen after installation. But I can't build installer:
`sh /usr/src/build-extra/installer/rele

[2018-01-18 14:58] tboegi commented on #1431
I think you can do (from a clean working directory!)
(Note the "." at the end of the line)
git rm --cached .
git add .

[2018-01-18 15:01] asalwa commented on #1409
It looks that build-extra is empty Git repo:

Remote is specified in build-extra/.git/config, but it seems that repository has not been cloned.

[2018-01-18 15:35] michaelblyons opened #1432 "HTTPS redirect for gitforwindows.org"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing
- [x] The [git-for-windows.github.io repository](https://github.com/git-for-windows/git-for-windows.github.io) does not have its own Issue section.

Please redirect to HTTPS on [gitforwindows.org][g

[2018-01-18 16:01] niklasholm commented on #845
I have a very similar issue when running git in a MSYS2 proper environment (setup per the instructions [here](https://github.com/git-for-windows/git/wiki/Install-inside-MSYS2-proper)) and the mingw64 port of perl installed (`/mingw64/bin/perl`).

[code]

Evidently, there is some compatibility issues with perl versions other than the msys2-linked one located in `/usr/bin/perl`. `/mingw64` is locate

[2018-01-18 17:01] PhilipOakley commented on #1409
Yes, those sources need to be either fetched or checked out (can't remember which..). IIRC They are a repo at a particular state, but it's just bare at the moment.

[2018-01-18 19:23] dscho commented on #845
How would that work?

Remember, my primary concern is the end-user facing Git for Windows installer.

You are using a very different setup: obviously, you use an MSYS2 setup that is enhanced by using Git for Windows' packages.

More than that, you are using a MINGW version of Perl, and nothing guarantees that that works with Git for Windows' Perl scripts. That would put quite a bit of a burden ont

[2018-01-18 19:30] dscho commented on #1432
@ethomson any idea how to do that?

[2018-01-18 20:13] ethomson commented on #1432
Agreed, we should have HSTS here.  I’ll take a look.

[2018-01-18 21:10] dscho commented on #1409
As mentioned in https://github.com/git-for-windows/git/wiki/Making-an-installer, you need to:

[code]

The crucial part is `git pull master`.

[2018-01-18 21:47] mvmalygin commented on #1424
After removing of COMODO software, Git began to function normally.
However, both turning it off and exclusions tuning, have no any effect. Full uninstall only!
Thank to @kgybels and all the others!

[2018-01-18 22:28] dscho opened #1433 "Git for Windows v2.16.0 is marked as v2.16.0(2)"
This is a bug in the `please.sh` script that handles the `--ignore-existing-tag` incompletely.

[2018-01-18 23:11] kgybels commented on #1424
@mvmalygin I'm glad to hear you were able to resolve your issue. Can you please close the issue report?

[2018-01-18 23:28] Cogito opened #1434 "Link to download latest version is broken"
Looking at https://gitforwindows.org/ and clicking the link 'Download' directs me to the following URL which 404s:

https://github.com/git-for-windows/git/releases/download/v2.16.0.windows.2/Git-2.16.0-64-bit.exe

It appears as though this is meant to be:

https://github.com/git-for-windows/git/releases/download/v2.16.0.windows.2/Git-2.16.0.2-64-bit.exe

This is potentially related to #1433 but mi

[2018-01-19 00:16] shiftkey commented on #1434
@Cogito can you re-test? I think this is working fine now.

[2018-01-19 01:56] Cogito commented on #1434
@shiftkey I am currently seeing the following, broken URL when clicking the link:

https://github.com/git-for-windows/git/releases/download/v2.16.0.windows.2/Git-2.16.0-64-bit.exe

[2018-01-19 02:53] shiftkey commented on #1434
@Cogito aha, I was testing it on a non-Windows OS. There's something in [this code](https://github.com/git-for-windows/git-for-windows.github.io/blob/master/index.html#L125-L136) that isn't detecting the right version values.

[2018-01-19 03:06] Cogito commented on #1434
@shiftkey Yes, that code is assuming the release artefact will be called 2.16.0, not 2.16.0.2

That's why I think the root cause is #1433

The fix, I think, is to either

1. Publish release artefacts with the correct name
2. Change the 'version' on the gitforwindows.org page to be 2.16.0(2) rather than 2.16.0, until the correctly named artefact is released.

[2018-01-19 03:09] Cogito commented on #1434
The commit which broke the link is this one: https://github.com/git-for-windows/git-for-windows.github.io/commit/ae93ce6cf0b1e36eeceb7d070cc2469934b15f2c

[2018-01-19 06:32] chucklu commented on #1180
@PhilipOakley  When I delete a remote branch(test) on git server,after git fetch --all.
My local repository still keep the branch(origin/test) in background

[2018-01-19 06:35] #1434 closed

[2018-01-19 06:36] dscho commented on #1434
For the record, a PR would have been nice (I could have accepted that on my phone instead of cutting into vacation time and whipping out the laptop).

[2018-01-19 06:42] niklasholm commented on #845
Well to me it seems that if a script depends on a specific version of an interpreter to work correctly it should reference the path of that version directly rather than looking it up on the more general PATH variable. `git-add--interactive` actually has a shebang that references the correct version, but for some reason, it isn't used, probably because of the way the program is called.

I understan

[2018-01-19 06:47] #1424 closed

[2018-01-19 07:14] ChaseGrant opened #1435 "Error when stashing deletions"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-19 13:06] dscho commented on #845
Git for Windows *prepends* its directories to the `PATH`. That's why it works in the intended use case.

You could of course try your hand at "fixing" the way Git's Perl scripts are called. Keep in mind, though, that the shebang line refers to a Unix-like path. `git.exe` is a Windows executable, though, not an MSYS2 one, therefore cannot handle pseudo-Unix paths.

It looks more and more as if you

[2018-01-19 13:10] dscho commented on #1435
That does not reproduce here. You may want to try with a fresh repository that you can make public, so as to verify that it is not a problem with your private repository -- in which case nobody could help you, anyway, because you did not provide a Minimal, Complete & Verifiable Example (as suggested by our issue reporting template).

[2018-01-19 16:43] shiftkey commented on #1434
@dscho apologies for the interruption!

[2018-01-19 17:01] csmager commented on #1435
I haven't got a minimal repro either, but just to add that I have seen this & similar issues since updating to 2.16.0 today.

[2018-01-19 17:17] GuiAlmeida opened #1436 "How to disable SSH agent login warning?"
after I installed git, this annoying warning appears, I wanted to disable it, it did not appear in the old days.

![1](https://user-images.githubusercontent.com/5199435/35162821-a7e5a6b4-fd2b-11e7-96f0-289771cff85a.PNG)
![capturar](https://user-images.githubusercontent.com/5199435/35162822-a811e896-fd2b-11e7-934e-e2f4c2c9c173.PNG)

[2018-01-19 19:57] dscho commented on #1434
@shiftkey no apologies necessary. Does the link work now?

[2018-01-19 19:59] dscho commented on #1435
@csmager greatly appreciated!

[2018-01-19 22:22] PhilipOakley commented on #1435
There is a segfault issue / pathch going around the main Git list that has been traced to having files differeing in case, which is more likely on large repos.

Have a review of the thread https://public-inbox.org/git/CALwADsGfB10f5+nOFN-pHCt4z1SkWMcvSHn8KokcyCM0V6K-BA@mail.gmail.com/ with patch starting at https://public-inbox.org/git/20180119041825.727904-1-sandals@crustytoothpaste.net/

If @Cha

[2018-01-19 22:47] shiftkey commented on #1434
@dscho all good here!

<img width="1009" src="https://user-images.githubusercontent.com/359239/35175247-9c5afc30-fd27-11e7-957f-5920519373e4.png">

[2018-01-19 22:54] PhilipOakley commented on #1180
@chucklu yes, that is correct. Git is careful to avoid deleting things you did not explicitly ask to do.

The whole idea of a 'remote' is that it (the origin machine) is an independent server. However the copy that held within your localmachine is a separate item. It is easy to confuse the thing termed 'remote' that is actually your local copy, and the other thing 'remote' that is the distant serv

[2018-01-20 01:07] boogisha opened #1437 "`git status` reports (non-existent) modifications after `git stash push`"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-20 06:09] LegalizeAdulthood opened #1438 "git status reports changes after git checkout -- ."
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-20 10:03] PhilipOakley commented on #1438
Could this be a manifestation of the same issue as #1437 `git status` reports (non-existent) modifications after `git stash push` ? (and vice versa).

Can you create a simple test case (test reo) that shows the issue for this command sequence, so that any common areas can be identified (sounds like it has the same root cause, but without a minimal test case it woill be hard to check).

[2018-01-20 10:35] tboegi commented on #1438
What does
git ls-files -s --eol | grep gifview.cpp
say ?

[2018-01-20 12:18] peolsson commented on #1437
This happens to me as well. However, strangely enough "git checkout -- ." works as expected (as reported in issue #1438).

It's quite simple to reproduce. Do some kind of change, execute "git stash". The changes will be stashed, but git status still shows the files as changed. When doing a diff it shows no changes though. To make them not occur in "git status", I just execute "git checkout -- .",

[2018-01-20 12:23] boogisha commented on #1437
I`m running `git bisect` at the moment (as v2.15.1.windows.2 worked as expected, in contrast to v2.16.0.windows.2), hopefully getting somewhere.

[2018-01-20 12:25] dscho opened #1439 "Get the BusyBox-based MinGit production-ready"
Cygwin (and hence MSYS2, which is a derivative) tries to emulate POSIX functionality on top of the Win32 API. When spawning child processes, this means that `fork()` needs to be emulated, which is hard, and requires the MSYS2 runtime's address range to be pinned. This leads to many a problem on many, many setups sometimes even only after unrelated software is upgraded!

Git for Windows uses the MS

[2018-01-20 14:01] boogisha commented on #1437
For what it's worth (if I did this correctly), `git bisect` between v2.15.1.windows.2 (good) and v2.16.0.windows.2 (bad) pointed to fcba80a2696c48fba77dd2ab3810092476e36fc2, here`s output:
[code]

[2018-01-20 15:12] dscho commented on #1436
Please provide enough information. It is in general a very wise idea to fill out a carefully-crafted issue reporting template such as ours.

Git for Windows does not start the `ssh-agent` by default. You must have added that in your `~/.bash_brofile` or something.

[2018-01-20 15:17] dscho commented on #1435
Not to mention that coming back with information will help your issue getting resolved quickly.

For example, if the patch in question turns out to address the reported bug, we could have a new Git for Windows release as soon as coming week, and a (fully working) snapshot installer as soon as in a couple of hours. The quicker you react, the quicker you will have a fix.

[2018-01-20 15:22] dscho commented on #1431
I get the feeling that the underlying bug should make for a fine "up for grabs" project. Hopefully I won't forget to write up a detailed description this coming week. If I do, and if nobody beats me to it, please ping me here.

[2018-01-20 15:26] dscho commented on #1438
These _*insert here*_ placeholders should have been replaced before hitting the "Submit issue" button.

For this reason, this ticket is currently invalid.

[2018-01-20 15:29] dscho commented on #1437
@boogisha excellent analysis, thank you! If nobody beats me to it, I hope to get to this ticket by this coming Tuesday.

[2018-01-20 17:21] KellyDeveloped opened #1440 "Git Worktree Broken in 2.16.0"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-21 02:05] atetubou commented on #1438
Sorry, I confrimed that my PR 89230f4a729e78b01226232474b38db8ccd92e21  introduced this regression.
Please revert the PR.

* test.sh
[code]

* expected output
[code]

* Actual output
[code]

[2018-01-21 02:20] rongjiecomputer opened #1441 "Add Notepad as an option in Git installer"
git version 2.16.0.windows.2

I have been using Notepad (not Notepad++) as default editor for git for a long time (set up by `git config --system core.editor notepad`).

Since Git 2.15.1, the Git installer adds an option to configure default editor at installation time. Since then, I have to re-run `git config` every time I update Git. Please add Notepad as an option in the installer.

[2018-01-21 02:25] atetubou commented on #1440
Sorry, I confirmed my commit fcba80a2696c48fba77dd2ab3810092476e36fc2 introduced this regression. This commits also caused similar issue #1437
@dscho please revert this.

[2018-01-21 03:02] linquize commented on #1441
Notepad is not ideal because it does not support `\n`. It only supports `\r\n`

[2018-01-21 03:06] rongjiecomputer commented on #1441
Which is why there is a [`notepad`](https://github.com/git-for-windows/build-extra/blob/master/git-extra/notepad) wrapper script to convert `\n` to `\r\n` and vice versa. Notice that the command is `git config --system core.editor notepad`, not `git config --system core.editor notepad.exe`.

Git works with Notepad for a very long time already.

[2018-01-21 09:28] atetubou commented on #1438
After investigation, I understand how my commit broke git for windows when `git checkout .`.

git's index holds file timestamp to check file is modified in fastpath.
My change made lstat return cached stat after checkint out the modified file.

When we run `git checkout`, [checkout_paths](https://github.com/git-for-windows/git/blob/v2.16.0.windows.2/builtin/checkout.c#L242) calls [checkout_entry](

[2018-01-21 10:39] orgads opened #1442 "git checkout fails when recovering a deleted directory"
If I delete a directory, then try to recover it using `git checkout`, it fails.

Running `git checkout -f` without providing the directory name works.

 - [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windo

[2018-01-21 10:41] orgads commented on #1438
Looks related: https://github.com/git-for-windows/git/issues/1442

[2018-01-21 11:03] boogisha commented on #1441
I've been using Notepad++ as default editor for a long time myself (so not Notepad, but it doesn't matter for the point), before installer supported it, but set up by `git config --global core.editor ...` (notice "--global" option, ending up in user home folder), so installer option affecting "--system" doesn't make a difference (and no need to reconfigure each time).

Now, if you have many users,

[2018-01-21 11:28] rongjiecomputer commented on #1441
@boogisha I like the idea of adding "Leave current editor" to the installer.

[2018-01-21 11:29] KellyDeveloped commented on #1440
How long will it take for a patch/revert to come out? Just so I know whether to roll back to a previous version or wait.

[2018-01-21 12:01] cbp123 opened #1444 "Including trailing slashes in"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-21 13:32] PhilipOakley commented on #1438
It is easy to be wise after the event. It is good that you have identified the cause, and with luck and a following wind, a fix soon. There have been other problems from upstream so you are in good company. Once resolved the speed upshould still be useful.

[2018-01-21 13:50] PhilipOakley commented on #1441
Is some one up for it? (i.e. adding the option to 'do nothing, keep existing editor settings' or whatever is felt best).

PR welcome.

[2018-01-21 13:54] PhilipOakley commented on #1440
There are upstream breakages as well that probably hit some GfW repos as well, plus @dscho is currently on an well earned vacation. So a maintenance release could be a a week or two away.

@atetubou could you create a PR that does the revert? That way @dscho can apply it easily.

[2018-01-21 14:14] atetubou commented on #1440
@PhilipOakley sure.

[2018-01-21 20:38] shiftkey opened #1446 "[RFC] new config value to ignore revocation checks when using schannel"
In GitHub Desktop we set `http.sslBackend` to `schannel` in the `system` gitconfig, which means everything Just Works™ for people who have certificates for their corporate Git servers in their Windows Certificate Store.

But some of these users are also behind a corporate firewall, which means they'll see a cryptic error like this:

There's a couple of different variants here, and I can dig them u

[2018-01-21 20:48] shiftkey commented on #1439
@dscho I'm interested in this, especially to reduce/avoid the dependency on MSYS2/Cygwin. How can others help?

[2018-01-21 20:52] shiftkey commented on #1444
@cbp123 is this something that has worked for you before when using Git on Windows?

[2018-01-22 01:38] jlcheng commented on #1220
I posted this issue on the Git list. After more research, I think this might be an uncommon behavior in cygwin that can be controlled with the "CYGWIN=noglob" setting.

Note that `noglob` affects how cygwin prorgrams parse arguments
[code]
Then I wrote a small go program to test this
[code]

Now I can see the effects of CYGWIN=noglob on calling the cygwin version of git
[code]

Note that this isn'

[2018-01-22 01:50] cbp123 commented on #1444
Hi @shiftkey, I haven't tried this particular scenario before (remoting to repositories on the same local computer).

[2018-01-22 01:54] jlcheng commented on #1220
https://github.com/git-for-windows/git/issues/561

There's similar `MSYSY=noglob` setting

[2018-01-22 04:51] ChaseGrant commented on #1435
@PhilipOakley Following the steps in that link definitely crash GIT for me. Unsure if it's related to my stash issues or not.
@dscho Sorry for not satisfying the ticket logging requirements. I will attempt to create a public repo to recreate.

[2018-01-22 05:09] ChaseGrant commented on #1435
I can reproduce with this test repo: https://github.com/ChaseGrant/GITTest

Steps to reproduce:
* Clone repo
* Delete the Test.txt file
* GIT add .
* GIT stash

I then get the following error:
[code]

[2018-01-22 07:56] Acetylen3 commented on #1446
Hi, I'm not expert in networking but I have just started using GitHub Desktop with AWS CodeCommit under corporate proxy. GitHub Desktop also gives  Unknown error (0x80092013) when try to fetch from remote repo on AWS.

However, when I try to fetch from repo in command line (cmd), it work just fine. I suspect this is because Git credential helper was replaced by the [AWS credential profile](https:/

[2018-01-22 09:07] csmager commented on #1435
I can also confirm that cloning the `vim-colorschemes` repo per the mailing list causes git to crash. In event viewer, I see

Faulting module name: git.exe, version: 2.16.0.2, time stamp: 0x5a610d37
Exception code: 0xc0000005
Fault offset: 0x0000000000117133
Faulting process ID: 0x1e20
Faulting application start time: 0x01d3935ffa255e7b
Faulting application path: C:\Program Files\Git\mingw64\bin\g

[2018-01-22 09:13] csmager commented on #1435
It does seem to me that this issue is related to (if not the same as) the ones raised subsequently as #1437, #1438, #1440 and #1442.

[2018-01-22 11:26] j-f1 commented on #1446
How about `http.disableRevocationChecks`?

[2018-01-22 12:12] dscho commented on #1446
@shiftkey makes tons of sense. But since you want this for schannel only, why not call the setting `http.schannel.checkRevoke` (defaulting to `true`) and really only handling it when the ssl backend was set explicitly to `schannel`?

[2018-01-22 12:28] dscho commented on #1439
Mostly by testing in as close to production as you dare ;-)

I vaguely remember that there have been some inexplicable hangs when I tried to run the test suite (I used `GIT_TEST_ARGS=--quiet GIT_TEST_INSTALLED=/path/to/mingw64/bin busybox xargs -P15 ./test-[0-9]*.sh` after copying the test artifacts (which are now bundled as Pacman package, too) into a clone of git-for-windows/git). That's the mai

[2018-01-22 13:18] kkolinko opened #1448 "Git for Windows v2.16.0 release - add link to Git 2.16.0 RelNotes"
The release announcement for Git for Windows 2.16.0(2) at [1][2] is missing the usual "Comes with Git v2.16.0." item.

[1] https://github.com/git-for-windows/git/releases/
[2] https://github.com/git-for-windows/git/releases/tag/v2.16.0.windows.2

The Git 2.16.0 release notes to link here are at:
https://github.com/git/git/blob/v2.16.0/Documentation/RelNotes/2.16.0.txt

The notes for upcoming 2.16.

[2018-01-22 13:48] #1437 closed

[2018-01-22 13:48] #1438 closed

[2018-01-22 13:50] #1442 closed

[2018-01-22 13:52] #1440 closed

[2018-01-22 14:01] dscho commented on #1448
Bah, I am already deep in the release engineering of Git for Windows v2.16.1. It will *also* lack this customary link :-(

How is your Unix shell fu? It would make most sense to add code to the script used for release engineering...

Come to think of it, I thought I had done that.

*Clicketyclick*

Yep! https://github.com/git-for-windows/build-extra/blob/1e3dbc35431b0b7201a9b4b733b61ae3bb697646/pl

[2018-01-22 14:01] #1448 closed

[2018-01-22 15:08] koppor commented on #1435
For me, I think, this is https://github.com/git-for-windows/git/issues/1440.

I updated to `git version 2.16.0.windows.2`. It worked with `git version 2.15.1.windows.2`.

I found this issue here while searching for

   error: unable to stat just-written file

[code]

[2018-01-22 15:15] dscho commented on #1435
Indeed. I think this will be fixed in Git for Windows v2.16.1 (which I am busy releasing as we speak).

[2018-01-22 15:15] #1435 closed

[2018-01-22 16:05] #1433 closed

[2018-01-22 18:02] kraai opened #1449 "Errors when running "Git Bash" until it's run as administrator"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-22 20:27] shiftkey commented on #1446
@dscho sure, I can go for that

[2018-01-22 21:06] shiftkey commented on #1446
@Acetylen3 However, when I try to fetch from repo in command line (cmd), it work just fine. I suspect this is because Git credential helper was replaced by the AWS credential profile (may be it used openssl under the hood, I don't know) during installation of AWS CLI.

I don't believe it's related to the credential provider, but to the configured `http.sslBackend` that Git uses for all fetch/push/

[2018-01-22 21:12] shiftkey commented on #1439
![](https://media.giphy.com/media/xUPGcJ9uOAL2h5wA5a/giphy.gif)

[2018-01-22 23:48] rcdailey commented on #1220
@jlcheng: Tried your workaround (using my MCVE provided earlier):

[code]

Looks like it isn't changing behavior here.

[2018-01-23 00:13] PhilipOakley commented on #1220
@rcdailey you need to use the MSYS/MSYS2 version, obviously. `MSYS=noglob` was the suggestion. Failing that try `MSYS2=noglob` (there was a minor spelling error in the platform name).

The link to #561 and above to https://sourceware.org/ml/cygwin/2015-06/msg00301.html were interesting (e.g. the suggestion that 'bash' is wrong...)

[2018-01-23 02:03] jlcheng commented on #1220
@rcdailey I did have a typo in my feedback. I was able to reproduce the problem you described.

[code]

In this case,  `MSYSY=noglob` appears to cause git to interpret '@{-1}' as '$@\', which is very unexpected.

[2018-01-23 05:42] pankajazad opened #1451 "Feature Request: Support for encryption"
Support for encryption at git objects level will be a step in making the git repositories secure. The way I envisage it to work is following.
1. Git takes the objects as usual, computes sha1 and performs compression
2. Just before the contents are stored in file, it applies encryption on each git object.
3. Similarly the first thing it does after reading a file is decryption
4. This way it'll be t

[2018-01-23 07:37] Acetylen3 commented on #1446
@shiftkey Hi, you're right, it has nothing to do with credential provider but ssl backend, everything works after I use config:

[2018-01-23 08:49] ChaseGrant commented on #1435
Confirmed as fixed.

[2018-01-23 09:38] Torcsi opened #1452 "git reading mapped drive from eXist db: short read error (due to improperly reported file size?)"
- I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

**Also reported as https://github.com/eXist-db/exist/issues/1701**

### Setup

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What options did

[2018-01-23 11:02] dscho commented on #1449
These file operations should have been performed as part of the installation, as last step. Did you see the installer "hang"?

[2018-01-23 12:21] dscho commented on #1451
Thank you for your suggestion.

However, this feature request is safely outside the *Windows-specific* realm of Git for Windows. Therefore, it would be better to direct the feature request to the [Git mailing list](mailto:git@vger.kernel.org) (please avoid sending HTML mails, as they will be silently dropped, plain text mails are the only ones that are accepted).

[2018-01-23 12:21] #1451 closed

[2018-01-23 12:24] dscho commented on #1452
That is really unfortunate. Git *relies* on accurate file size information, it cannot function without it.

I guess there are only two ways out of this:

1. get eXist to fix this, or
2. stop using Git on drives mapped into eXist's database.

[2018-01-23 12:40] Torcsi commented on #1452
@dscho thanks; does git use lseek END, fstat or stat to determine length? sorry cannot dig into the code.
For eXist: stat seems nearly impossible to solve (XML content rendered during serialization, size is not known).
Btw. if anyway content is to be entirely read, isn't this a small file optimization to get the length?
I wish to know it for helping eXist maintainers, what to ask from them if that

[2018-01-23 13:59] kraai commented on #1449
No, the installer did not appear to hang.  Once I answered all of the pre-install questions, it displayed a progress bar while extracting files, etc., and then displayed the final page which gave me the option to run Git Bash and/or display the release notes.

[2018-01-23 20:10] pankajazad commented on #1451
Thanks. I tried sending and got following error.
vger.kernel.org rejected your message to the following email addresses:

git@vger.kernel.org (git@vger.kernel.org)
Your message wasn't delivered because the destination email system rejected your message for security or policy reasons. For example, the email address might only accept messages from certain senders, or it might not accept certain type

[2018-01-23 21:35] PhilipOakley commented on #1220
@jlcheng You say you used `MSYSY=noglob` (with the spelling mistake) is that correct?

I also suspect that the alias itself, in some manner, may need the `MSYS=noglob` embeddedso that the command line
`17:42:37.527811 run-command.c:626       trace: run_command: 'git log --oneline "$@"' '@{-1}'` will also see it, but I'm guessing here (I don't have a suitablesystem to test it on)

[2018-01-23 21:35] gena01 opened #1453 "[mingw64/msys] git 2.16 updated package broke git fetch for https urls"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]
 I am using mingw-w64-x86_64-git 2.16.1.1.1a4ee4d5d8-1

### Details

 - Which terminal/shell are you ru

[2018-01-23 22:14] PhilipOakley commented on #1453
@gena01 gennaddy, this may also be a cURL/ssl/schannel certificates issue as there have also been a number of changes (and issues) there as well. Have you checked if any of them apply? The reposrt suggests it is a local probelm in finding the certificate verify locations.

[2018-01-23 22:28] gena01 commented on #1453
I don't see my environment as anything custom. I run msys2 pointing to whatever default repo(s) installer sets up + "git for windows" provided packages.

[2018-01-23 22:47] jlcheng commented on #1220
@PhilipOakley When you pointed out I had a typo, I went through the MCVE provided by @rcdailey  and verified that, while the `MSYS=noglob` variable does affect `git` is invoked, it does not resolve the problem.

Note that it does affect how `git` is invoked through run-command.c.
Without it:
``` trace: built-in: git 'log' '--oneline' '@-1' '@-1'```
With it:
```trace: built-in: git 'log' '--oneline

[2018-01-23 23:37] PhilipOakley commented on #1453
Ah, so this isn't 'Git for Windows' complete (This project), but you want simply 'Git' on MSYS2? would that be right?

[2018-01-24 03:18] lisvitania opened #1454 "insideeesteem-jakarta"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-24 03:19] lisvitania commented on #1454
good

[2018-01-24 03:23] #1454 closed

[2018-01-24 04:30] gena01 commented on #1453
@PhilipOakley I guess so. I wasn't sure if this was the right place to report it. The binaries I am using are definitely from this github organization. This is one of the commits that's not working for me: https://github.com/git-for-windows/MINGW-packages/commit/c25e06306c4b07bb77acb541348d5a72963a0ff3

[2018-01-24 09:22] Tragetaschen opened #1455 "The non-intrusive toast isn't persisted in the Action Center on Windows 10"
- [x ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

I was updating from v2.15.1(2) to v2.16.1, so the toast came from 2.15

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

Windows 10 64-bit

 - What

[2018-01-24 09:46] asheppard-gresham opened #1456 "Error installing gitflow - git-flow: line 115: /gitflow-shFlags: No such file or directory"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?
2.15.1.2 x64

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?
Win

[2018-01-24 10:21] kostix commented on #1451
@pankajazad be sure to make whatever means you're using to compose your mail messages to not produce HTML parts; see [this](https://gist.github.com/tfnico/4441562#writing-an-email-to-the-developers-list) for more info.

[2018-01-24 11:28] swaldman3 commented on #1453
I've landed here with the same problem; I had thought it was an issue with my corporate proxy configuration, but think it might be more general.

Setup: Git for Windows 2.16.0.2-64-bit installer. Installation options to use the non-cmd interpreter (I forget what it's called) and to use OpenSSL.

No matter what I set http.sslcainfo to, at repo, global or system level, trying to fetch from a remote

[2018-01-24 11:48] PhilipOakley commented on #1220
@jlcheng Thanks for Checking. At least it confirms that the underlying MSYS2 has problems that appear to be the result of using various csh idioms as default (as per that [link](https://sourceware.org/ml/cygwin/2015-06/msg00301.html ) you provided). Not sure what solution is appropriate for @rcdailey 's problem - I'm not a Linux person...

[2018-01-24 16:03] dscho commented on #1453
Git for Windows also ships custom cURL versions. Not sure whether this would fix your problem. Also, using `GIT_TRACE_CURL=1` might help diagnose it further.

You know, if at least one of you gentle people (who refuse to use Git for Windows as offered in our Releases, and prefers to use their own MSYS2-based setups) would step in and help, get involved, and maintained that part, we would really ge

[2018-01-24 16:08] dscho commented on #1456
Here, the output looks like this:

[code]

What does your `uname -s` show?

[2018-01-24 16:11] asheppard-gresham commented on #1456
[code]

[2018-01-24 16:12] dscho commented on #1452
`lstat()`. Which in Git for Windows is either performed via `GetFileAttributesW()` (without the FSCache feature) or via `FindFirstFileW()`/`FindNextFileW()`.

But it is not! The entire idea of Git's index is to avoid reading the files' contents just to know whether they are up-to-date, and instead use the mtime and file size (and a couple more indicators for change).

It is a *core* requirement of

[2018-01-24 16:28] Torcsi commented on #1452
Thanks. I have passed the information to eXist developers. There is very little chance that they can do anything with that, since size cannot be computed without traversing the full XML file. We must work with an extra staging folder...

As for entire read:
Clearly Git should/does not read the file when not needed - just realized from practice that files whose **date was modified** but the content

[2018-01-24 16:28] #1452 closed

[2018-01-24 18:32] gena01 commented on #1453
@dscho I don't think this issue is specific to "MSYS2-based setup". Sounds like some part of the binaries that tie into MINGW64 could have had a regression between 2.15 and 2.16.

2.16 has an updated openssl, so could be some patch missing or regression in the new openssl integration somehow.

[2018-01-24 20:19] frank-e opened #1457 "Duplicated C:\Program Files\Git\cmd in the PATH"
- [x] I didn't see an an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) issue for my observation after installing v2.16.1, and this nit is unrelated to your "issue template" for bugs:

For my purposes the installer adds _C:\Program Files\Git\cmd;_ at the end of the PATH. However, the PATH (in the environment of the installer) already contains this directory.

Presumably you chec

[2018-01-24 20:40] shadyueh opened #1458 "[git 2.16.1 x64] Installer is inserting misplaced entries in winreg which replaces explorer as default folders opener"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

Since the version 2.15.1.2 x64 of git for windows, its Installer is inserting misplaced entries in Windows registers of my computer which replaces Explorer as default folders opener.
I just downloa

[2018-01-25 17:17] dscho commented on #1418
I *think* I got it fixed in time for v2.16.1. Would you do me a favor and test it? (I am unfortunately really swamped with work, and it won't change for the rest of the month.)

[2018-01-25 19:57] AntAgna commented on #1441
I use Notepad2 which replaces Windows's notepad.exe
I don't want git installer to change my editor settings when upgrading

[2018-01-25 20:05] AntAgna opened #1459 "Git 2.16 is much slower than previous versions"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Git-2.16.1 64-bit

[code]

 - Windows 10 64

[code]

 - Mostly default options

[code]

 - Any other interesting things about your environment that might be related
   to the issue yo

[2018-01-25 23:27] AntAgna commented on #1459
I have tested in a Windows 7 x64 VM and I do not experience the issue.
It must be something in my environment interfering with git.

[2018-01-26 00:56] PhilipOakley opened #1461 ""Application manifest has either a different computed hash than the one specified" CRLF round tripping"
- [x ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

Corporate Win7

[2018-01-26 00:58] PhilipOakley commented on #1461
The uploaded `Linear Slider Control.exe.manifest` file does correctly have the original (mixed) line endings, while the round tripped file had all CRLF line ending.

[2018-01-26 14:47] mfriedrich74 commented on #1458
Those registry entries are not wrong. Relevant are those entries where
git_gui is referenced.
E.g. the mapping to extensions and file types.

On Wed, Jan 24, 2018, 3:40 PM Held Grijo <notifications@github.com> wrote:

[2018-01-26 15:11] laudeam opened #1462 "Leading slash in command line argument gets converted to absolute path"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?
[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?
`Microsoft Window

[2018-01-26 15:30] PhilipOakley commented on #1462
try the Release notes.....

https://github.com/git-for-windows/build-extra/blob/master/ReleaseNotes.md#known-issues

•If you specify command-line options starting with a slash, POSIX-to-Windows path conversion will kick in converting e.g. "/usr/bin/bash.exe" to "C:\Program Files\Git\usr\bin\bash.exe". When that is not desired -- e.g. "--upload-pack=/opt/git/bin/git-upload-pack" or "-L/regex/" -- y

[2018-01-26 15:45] laudeam opened #1463 "Git bash freezes on 'node' commands"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?
[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?
`Microsoft Window

[2018-01-26 16:02] laudeam commented on #1462
Thanks for pointing out this ressource, I somehow missed it.

As stated above I tried doubling the leading slash. Can you confirm this is the expected behaviour ?

**This looks ok:**
`node test.js //url ` yields:
[code]

**This looks not ok:**
`node test.js //url/ ` yields:
[code]
Here I was expecting to get `/url/` instead of `//url/`
Is there any way I can get it to yield `/url/` ?

[2018-01-26 16:29] landstander668 commented on #1463
Did you try running them under *winpty* (i.e. `winpty node test.js`)? This is mentioned in the release notes as being needed for both Python (assuming a non-MSYS2 build) and node.

[2018-01-26 16:40] laudeam commented on #1463
I definitely should pay more attention to these release notes...
Thanks

[2018-01-26 16:40] #1463 closed

[2018-01-26 17:51] kstrophus opened #1464 "Git 2.16 - case insensitive checkout works but the upstream tracking is lost"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

Version 2.16.1 64 bit.
$ git --version --build-options

** insert your machine's response here **
git version

[2018-01-26 18:34] PhilipOakley commented on #1464
Case sensitivity:
Its not the desired behaviour but it is expected when on a case insensitive file system. Git is designed on the basis that the file system is case sensitive, case preserving, so there will need to be some solid work to stich into the core git the detection of such anomalies. It's all up for grabs (small or large contributions..).

[2018-01-26 19:03] kstrophus commented on #1464
I understand if it finds the branch name in Windows when case-insensitive, but it should just switch to the branch it found, not automatically rename the branch in the process. Only rename if explicitly told to.

[2018-01-26 22:31] PhilipOakley commented on #1464
The MVCE doesn't setup the repo so one has to guess as to what was happening before/in the background.

Can you add some git stuts, and git branch commands so that it lists what it believes is happening. note especially if the 'current' branch is starred in the list of branch names. Usually it isn't. It maybe at that point that the `git pull' (only shown once) attempts to pull the named current br

[2018-01-26 22:58] bmcdonnell-ionx commented on #941
Posted:
http://news.jrsoftware.org/read/article.php?id=105701&group=jrsoftware.innosetup

[2018-01-27 09:39] kriegaex commented on #1070
@trowpa, can you please provide a link to a possibly existing AMD support ticket? Maybe the people affected by this problem can somehow comment or upvote on it. It seems people are still interested in this issue, given the fact that [this StackOverflow issue](https://stackoverflow.com/q/42888024/1082681) currently has a bounty on it.

[2018-01-27 13:53] dscho commented on #941
Thank you for posting the issue. However, have you followed the link I posted? You will see that there is already a knob and we use it and maybe you just need to find the right setting.

[2018-01-27 13:58] dscho commented on #1455
This is where the toast is created: https://github.com/git-for-windows/build-extra/blob/285cfd53e625e19279f13323dd483f4819900164/git-extra/git-update#L205

Maybe you can spot the problem?

[2018-01-27 19:32] csimons commented on #652
@dscho I'm not sure how to make this more minimal, though I'm happy to carry out any suggestions.  Thoughts?

[2018-01-28 12:19] PhilipOakley commented on #652
There was some documentation updates on the main list in this area. a quick search found this possibility https://public-inbox.org/git/xmqqlgiwpgst.fsf_-_@gitster.mtv.corp.google.com/

For the MVCE, maybe see if you can develop a very short local method of setting up the scenario. I'm guessing that creating the setup is the hardest, if one doen't have the right stuff to hand. I don't know enough a

[2018-01-29 13:17] patrykgruszka commented on #1070
I think it's already fixed. I havn't noticed any similar problems with the newest AMD driver.

[2018-01-29 13:23] kriegaex commented on #1070
Hmm... then I find it strange that someone put a bounty on it just this week on SO.

[2018-01-29 13:36] shadyueh commented on #1458
Well, I've searched for any other entry about git_gui in the whole winreg and not found anything beyond those.

[2018-01-29 15:46] adambernstein opened #1465 "gitk 'draggable resize' for horizontal panes is in middle of toolbar"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?
64-bit

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?
7
[code]

[2018-01-29 19:20] AntAgna commented on #1459
I have used Process Monitor to see what is happening. [git-status.zip](https://github.com/git-for-windows/git/files/1674913/git-status.zip)
I see activity from the F-Secure Antivirus during the time git is blocked, so it probably the culprit.
I don't know why there was no problem with the previous versions, probably some "intelligent filtering" inside the anti-virus software.
I'll try to see if I

[2018-01-29 19:20] #1459 closed

[2018-01-29 20:44] sxlijin commented on #1431
Bump.

[2018-01-29 23:22] dscho commented on #1417
Did you try that?

[2018-01-30 03:31] ahmedmohiduet commented on #1417
Hi dscho, sorry on super delay on that. I tried and its not working yet. I had been noticing another rissue is that resuming from hibernate making my other mingw windows not get focesed while pressing ctrl+tab in any ming windows

[2018-01-30 09:29] liaowuping opened #1466 "How to use sshd"
How to use `C:\Program Files\PortableGit\usr\bin\sshd.exe`
this program always output `sshd re-exec requires execution with an absolute path`

[2018-01-30 10:08] dscho commented on #1417
Are you sure that the options are set correctly?

![image](https://user-images.githubusercontent.com/127790/35560512-f174003e-05ad-11e8-9402-d20676e231bd.png)

[2018-01-30 10:17] ahmedmohiduet commented on #1417
yup. my settings.....
![screenshot 2018-01-30 16 16 29](https://user-images.githubusercontent.com/3110101/35560944-1a61be16-05d9-11e8-85cb-299e37e685be.png)

[2018-01-30 10:31] Kage336 opened #1467 "with Git 2.16.1 , when using VSCode ,the process “git for windows” was lanched again and agian，and the cpu was used 100%"
just like the title of the issue, I am trying to solve is by confinuring the VSCode, but it doesn't work;
and I  has gone back to the version 2.16.0 just now. The Bug doesn't happen any more.
if something wrong ？

[2018-01-30 12:34] dscho commented on #1466
You don't want to use sshd. This program would be used to offer an SSH service. Just don't use it. It is absolutely unnecessary for regular Git usage.

[2018-01-30 12:34] #1466 closed

[2018-01-30 12:36] dscho commented on #1417
Maybe you could try Git for Windows v2.16.1, which comes with MinTTY 2.8.3.

If in doubt, you can always try a portable Git first, and if it works, upgrade your installation.

[2018-01-30 14:01] eaaltonen commented on #1298
Similar symptoms with a fresh installation of Git for Windows 2.16.1-64bit, Git Bash with MinTTY as the terminal. Merely typing [Enter] in the home directory results in the following calls
[code]
With `git rev-parse...` standing out as somewhat slower than the others.

[2018-01-30 15:07] Myllyenko opened #1469 "Random "Permission denied" when adding submodules"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-01-31 01:06] adamvoss opened #1470 "Ctrl+C no longer kills running process in Git Bash"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

There are older issues about <kbd>Ctrl</kbd> + <kbd>c</kbd> but this is specifically about a regression in behavior from 1.15.1.2 (confirmed by downgrading) to 1.16.1.

### Setup

 - Which version

[2018-01-31 03:33] ahmedmohiduet commented on #1417
let me check

[2018-01-31 03:57] ahmedmohiduet commented on #1417
Hi dscho! I had tried and its not working still.

[2018-01-31 03:57] FalconWu2017 opened #1471 "Some more.pager bugs found"
At 1st I am a Chinese and my English is not very well,so i will try my best to say what happened.
I have a problem when I user git bash in windows 7 64-bit at git version 2.16.0.windows.2.

---------------
Some command such as "git log" are not support Chinese .It will show me like "<E6><B7><BB><E5><8A><A0><E6><96><87><E4><BB><B6>" .I get the help from some website,they tell me use "git config --g

[2018-01-31 06:30] liaowuping commented on #1466
i just want to use ssh service on windows.

[2018-01-31 10:32] kostix commented on #1466
@liaowuping, [here it is](https://github.com/PowerShell/Win32-OpenSSH). And that's just one of them—supposedly "the most true" these days. Other implementations do exist; please do your research.

[2018-01-31 13:33] dscho commented on #1417
Maybe you can get more help at https://github.com/mintty/mintty/issues, as this really is not a Git-specific issue and I am at the end of my domain knowledge about MinTTY?

[2018-01-31 13:35] dscho commented on #1466
This has nothing to do with Git, though, and we're already busy enough taking care of Git bugs in this issue tracker 😄

[2018-01-31 15:09] bmcdonnell-ionx commented on #941
It is a build-time setting. There is no setting with Inno Setup for deciding the type of install at runtime, and apparently implementing such a feature would require a significant redesign.

Follow the thread on my post linked above for details. The [last post](http://news.jrsoftware.org/read/article.php?id=105708&group=jrsoftware.innosetup) has a suggestion on how it might be done using Inno:

Al

[2018-01-31 15:11] ahmedmohiduet commented on #1417
got it. let me move it at mintty

[2018-01-31 15:11] #1417 closed

[2018-01-31 19:55] ninevoltbatterie commented on #1418
I downloaded the portable version of v2.16.1.  From its root, in cmd.exe, I ran the command suggested on [the 32-bit issues page](https://github.com/git-for-windows/git/wiki/32-bit-issues).  It ran silently and returned 0.  I was able to git-svn clone my repository (at least _start_ cloning it- I didn't let it run for hours to completion).

Is that a sufficient test?

[2018-01-31 21:51] kgybels commented on #1471
@FalconWu2017 First undo the fix you did, by unsetting `core.pager`:
`git config --global --unset core.pager`

Then try executing the following before doing `git log`:
`set LC_ALL=C.UTF-8`

This will tell `less` (the default pager) that output from `git log` is using UTF-8 encoding.

[2018-01-31 22:13] dscho commented on #1470
Hmm. We recently did change the way Ctrl+C works in Git Bash (MinTTY), *to resemble more closely* what happens in Git Bash (CMD). That should have made it more robust, though, not less robust.

[2018-01-31 22:16] dscho commented on #1465
This seems to be consistent with the behavior on Linux. Therefore, I think it is safe to say that this issue is not Windows-specific. As such, please report it to [the Git mailing list](mailto:git@vger.kernel.org) (watch out: they accept no HTML mail, not even an alternative plain/html one).

[2018-01-31 22:16] #1465 closed

[2018-01-31 22:22] kgybels commented on #1464
@kstrophus It didn't rename the branch, it didn't lose the tracking information, and it didn't cause your branch to diverge. The only problem is the loose ref `.git/refs/heads/CoreApi` is being used when asking for branch `coreapi`, because the file system is case insensitive. Except for the problem of sharing the loose ref, git is treating `coreapi` and `CoreApi` as separate branches.

Your branc

[2018-01-31 22:23] dscho commented on #1458
That second one looks more like it should be `git_shell` instead of `git_gui`.

That is *not* the effect here. I can double-click folders and the Explorer then opens the folder, as appropriate.

So I fear that this bug does not reproduce here, and most likely there is something else going on in your setup that my setup is missing.

[2018-01-31 22:25] dscho commented on #1462
Try @PhilipOakley's suggestion (lifted from the Known Issues in the release notes):

In your case, obviously, this would look more like

[code]

[2018-01-31 22:25] #1462 closed

[2018-01-31 22:31] dscho commented on #1457
I don't think that assessment is correct.

That is a bug in your system. Before Git for Windows is installed, it makes *no sense* for `PATH` to contain `C:\Program Files\Git\cmd`. It is the installer's job to add that path (or not, depending on the choices made in the installer wizard) to the `PATH` variable.

And just for future record: when contributing to Open Source, at least to Git for Window

[2018-01-31 22:31] #1457 closed

[2018-01-31 22:35] dscho commented on #1453
This is, however, my working hypothesis until somebody shows me an MCVE *with Git for Windows*.

For the record, I fetch and push via HTTPS multiple times a day, and I did not see the mentioned error message *in a long time*. As a matter of fact, I do verify (manually) that a `git ls-remote https://...` works, every single time before I upload new Git for Windows versions. Therefore, it would be r

[2018-01-31 22:35] #1453 closed

[2018-01-31 22:38] dscho commented on #1456
Maybe you have some software from the [BLODA](https://cygwin.com/faq/faq.html#faq.using.bloda) on your system? We did see problems on this issue tracker (with git-flow, even), that were caused by Comodo Internet Security if memory serves.

Alternatively, you could try to edit `C:\Program Files\Git\usr\bin\git-flow` (as administrator) and insert a line `uname -s >&2` just before that `case` stateme

[2018-01-31 22:40] #1446 closed

[2018-01-31 22:44] dscho commented on #1449
@kraai does this happen even after reinstalling? If so, could you reinstall using the installer option `/LOG=<path>` and see whether you find the part about the post-install script?

[2018-01-31 22:46] dscho commented on #1469
This sounds like an antivirus or something similar might be interfering...

Sorry, that's the only suggestion that comes to mind so far.

[2018-01-31 22:50] dscho commented on #1461
@PhilipOakley what do you want to do with this ticket? Wouldn't this info be better sent to the Git mailing list instead of pretending that we are reporting a bug in Git for Windows? ;-)

[2018-01-31 22:52] dscho commented on #1418
Yes, thank you very much!

[2018-01-31 23:03] swaldman3 commented on #1453
I'm not sure what a MCVE is, but I reported it with Git for Windows above, 8 days ago.

[2018-01-31 23:08] kraai commented on #1449
@dscho Yes, it happens after reinstalling.  I've reinstalled using the installer option `/LOG=<path>`.  Here is the resulting log file:

[log.txt](https://github.com/git-for-windows/git/files/1683619/log.txt)

I can see where it installs `post-install.bat`, but I don't see any other references to that file name.

[2018-01-31 23:11] Myllyenko commented on #1469
Maybe you can suggest any debugging facilities in Git that I can enable to try to pinpoint the issue?

[2018-02-01 12:05] dscho commented on #1453
To help with that, we say this in the issue reporting template that was filled out in the very beginning:

To clarify even further, we link to StackOverflow's description: http://stackoverflow.com/help/mcve

This does not reproduce here, and is therefore not verifiable.

So where does this leave you?

You could try to run [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/pr

[2018-02-01 12:42] dscho commented on #1449
Right. The `post-install.bat` should have run, but I don't think it logs anything in case of success. So I tried to get it to output a bit more information. Would you mind testing the installer I just uploaded to https://github.com/dscho/build-extra/releases/tag/v2.16.1-post-install-test?

[2018-02-01 13:08] dscho commented on #1469
The most straight-forward way to test my hypothesis might be to add an exclusion to the path into which you want to clone your repository with submodules, before actually cloning it.

[2018-02-01 13:11] dscho commented on #1464
@kstrophus I have no idea about your current work situation or your working knowledge of C, but depending on eligibility, maybe you want to try addressing this in a Google Summer of Code project (assuming that Git will get accepted again)?

[2018-02-01 13:12] dscho commented on #1467
This description leaves everything unclear. Care to elaborate so that even I have a chance of understanding what your exact setup is, what you are trying to accomplish, what precise steps you are executing to that end, what you expect to happen, and what is happening instead?

[2018-02-01 13:40] Myllyenko commented on #1469
@dscho I've excluded `Git\mingw64\libexec\git-core\git-remote*.exe` from Windows Firewall's scope. Hope this will help.

[2018-02-01 13:50] dscho commented on #1469
Great! Please let us know how this experiment goes.

[2018-02-01 13:59] dscho commented on #1455
I can't, and without help, I am afraid that we'll not get anywhere close to the resolution.

[2018-02-01 14:07] Kage336 commented on #1467
I am sorry for my unclear description, ( my mother language is chinese, my english is not good,  LOL - -! )
here is the details:
my exact setup is the VSCode default setup on windows 10 ( yes, I try to reinstall ( both VSCode and Git ) to solve the problems, but it doesn't work - - ! ),
and I try to write a demo ( yes, just a small demo, just contain some folder, like a few "npm_modules", a entry

[2018-02-01 15:07] dscho commented on #1467
What command-line does `wmic process list` show for this "Git for Windows" process?

[2018-02-01 15:17] kraai commented on #1449
@dscho No problem.  I ran the v2.16.1-post-install-test installer.  Here is the log it generated:

[log-1.txt](https://github.com/git-for-windows/git/files/1686025/log-1.txt)

I think this is the relevant section:

[code]

[2018-02-01 21:01] frank-e commented on #1457
No problem, of course I installed the new version over an older version, and of course this is my last comment or contribution here.

[2018-02-01 21:31] shiftkey commented on #1455
Looking at the [initial description](https://blogs.msdn.microsoft.com/tiles_and_toasts/2015/07/08/toast-notification-and-action-center-overview-for-windows-10/) of how notifications and the Action Center work (this is from 2015, so it's probably not up-to-date), these comment stands out:

My psychic debugger thinks that setting the expiration time to `15000ms` (aka 15mins) is causing it to disappe

[2018-02-01 21:38] DotNetSparky commented on #1455
LOL, @shiftkey beat me to it...  I'll add, it sounds like there IS a way to do it, but requires a little more work.  I found various sources pointing to here for making a persistent notification in the action center...

https://blogs.msdn.microsoft.com/tiles_and_toasts/2015/10/16/quickstart-handling-toast-activations-from-win32-apps-in-windows-10/

[2018-02-01 21:51] PhilipOakley commented on #1461
Hi @dscho This was the first step in recording an 'in the wild' practical example of a mixed CRLF file (That I have come across). There are various related questions on the web about the manifest files, and tis is certainly a plausible reason that folk aren't noting how/why they get the 'bad manifest' errors.

I will close this as it isn't a bug per se, but is an 'Issue'. I can offer it upstream,

[2018-02-01 21:51] #1461 closed

[2018-02-02 10:18] dscho commented on #1461
How about adding it as a project to the project ideas page at https://git.github.io/SoC-2018-Microprojects/ ?

[2018-02-02 10:22] dscho commented on #1455
Yep, and I thought that we settled on waiting in the `git update-git-for-windows` script (formerly known as `git update`) for feedback so that we did not have to implement a full-blown COM server (in which case I would not even know how to hand through the information to `wintoast.exe` what we want to do if the user hits "Update").

It is quite sad, but a simple reality, that I won't have more tim

[2018-02-02 10:31] dscho commented on #1449
Yes, this is the relevant section. It also shows that `Creating /dev/shm` failed, but you claimed earlier that it worked when you ran `Git Bash` as administrator?

This is the relevant part in [`/etc/post-install/01-devices.post`](https://github.com/git-for-windows/git-sdk-64/blob/b6415f9b4f84bccba8f15f7e6c4bea1d618395ce/etc/post-install/01-devices.post#L44-L57) for the `/dev/shm` directory:

[cod

[2018-02-02 16:44] DotNetSparky commented on #1455
I understand and can totally appreciate that.  I might mess with it a little myself, if nothing else it'd be a learning experience (I haven't messed with Windows' toast notifications before).  No promises, it *is* COM we're talking about after all... :-)

[2018-02-02 16:54] jaltman opened #1472 "Feature Request: include git-review in the distribution"
- [ x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

64-bit

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

[2018-02-02 17:28] dscho commented on #1472
This would be the first user in Git for Windows requiring Python. Python 3, even. This would increase the footprint of the Git for Windows installer by megabytes, something I am not really willing to impose on Git for Windows users when the vast majority will not benefit from the `git review` script...

[2018-02-02 18:02] jaltman commented on #1472
Completely understandable

[2018-02-02 20:39] PhilipOakley commented on #1461
@dscho Hmm, perhaps a misunderstanding. I didn't think there was a project in there ;-) Hopefully @tb's work will have fixed this upstream by detecting when there is mixed EOLs when the checking is enabled.

On the flip side is whether .manifest files should be marked as 'binary' in the .git attributes because of the poor CRLF round tripping.

Or maybe (a real project) adding a variant of the 'tex

[2018-02-02 21:07] #1472 closed

[2018-02-02 23:47] dscho commented on #1455
Thanks!

[2018-02-03 02:26] minnjm opened #1473 "git bash crashes on launch"
Downloaded and installed Git-2.16.1-64-bit on Windows 10 two days ago. Opened git bash, changed fonts and some others in Options... and git bash kept on crashing upon launch ever since. Uninstall/reinstall didn't solve the problem. It stopped crashing after /usrs/USERID/.minttyrc was removed. The .minttyrc file that causes git bash crashing is attached so you can reproduce the issue.

[minttyrc.zi

[2018-02-03 06:42] avih commented on #1473
Same issue for me - the mintty window closes right after running `git-bash.exe`, but for me the offending line, as well as a minimal `.minttyrc` to reproduce is `Term=xterm-256color`, or a different minimal file: `Term=vt220` (like the OP file has).

Without a `Term=...` line at `minttyrc` - it works, as well as if keeping the offending `.minttyrc` but adding `TERM=xterm` to `~/.bashrc`.

Could be

[2018-02-03 19:59] ArminVieweg opened #1474 "git-remote-https.ext crashes on blank Windows 10"
Hi, I've recently reset my Windows 10 machine.
I've installed git using scoop. And everytime I perform a "git fetch" I get an error box and this entry in system log:

[code]

I'm using version **2.16.1.windows.2** on a brand new Windows 10 set up. No clue how to fix this. Thanks for any hints!

[2018-02-03 20:06] ArminVieweg commented on #1474
Ok. When I install it with the installer from git-scm.com, it works. Nevermind.

[2018-02-03 20:06] #1474 closed

[2018-02-03 21:05] laurin1 opened #1475 "2.16.1 (2) - Server 2008 - "error: cannot spawn sh: Function not implemented""
C:\xwiki\xwiki10\WEB-INF>git fetch
error: cannot spawn sh: Function not implemented
fatal: unable to fork

Verified the following:
* Occurs on any "remote" commands (push, fetch), but not on "local" commands (status, commit).
* Does not occur with Git version 2.16.1
* Does not occur on Server 2012 R2 x74 or Windows 10 1709 Pro x64

**Version:**
git version 2.16.1.windows.2
cpu: x86_64
built from c

[2018-02-03 23:10] pmiossec commented on #1441
If someone with some knowledge of Inno Setup want to do it, that here it seems: https://github.com/git-for-windows/build-extra/blob/9ab82457606cc3f79e3b1a8088d2e61c79bfe1c7/installer/install.iss#L307

[2018-02-03 23:12] pmiossec commented on #1441
And if someone could rename the issue (I nearly create an issue myself)

[2018-02-04 06:05] avih commented on #1473
Sorry, my issue is with 2.16.1(2) (git version 2.16.1.windows.2), and I haven't tried earlier 2.16 versions, while OP reports the issue possibly with earlier 2.16 version . So I don't know if it's the same issue.

[2018-02-04 07:34] Eli-Zaretskii opened #1476 "2.16.1(2) error: cannot spawn git: Function not implemented"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-04 08:35] jingpeng opened #1477 "2.16.1(2) git clone crash on Windows 10 (1709 Dec Updated)"

[2018-02-04 08:37] shiftkey commented on #1477
@jingpeng please fill out the issue template

[2018-02-04 08:37] #1477 closed

[2018-02-04 08:38] shiftkey commented on #1476
Closing this out in favour of #1475 which reports the same issue on Server 2008.

I'm pretty sure they're the same root cause.

[2018-02-04 08:38] #1476 closed

[2018-02-04 11:37] let-none-survive commented on #1475
Now working on Windwos 7 x64 error: cannot spawn git: Function not implemented

[2018-02-04 12:06] dscho commented on #1475
Does this happen with *every* spawned process, e.g. also the editor when committing? If so, I suspect that the new code to inherit only the standard handles is the culprit (I had come to believe that it is using API introduced in Vista...)

[2018-02-04 12:19] Eli-Zaretskii commented on #1475
Yes, also when invoking the editor.  Here:

$ git commit -a
hint: Waiting for your editor to close the file... error: cannot spawn vi: Function not implemented
error: unable to start editor 'vi'
Please supply the message using either -m or -F option.

[2018-02-04 12:50] laurin1 commented on #1475
The issues does not occur for me using commands like commit or status, only on commands that interact with remote repos, like fetch and push.

[2018-02-04 13:31] kraai commented on #1449
@dscho I'm having trouble installing the SDK.  Once I get it installed, I'll try to fix this issue.

[2018-02-04 14:26] Eli-Zaretskii commented on #1475
"git status" works here as well.  But "git commit" doesn't, and neither do `pull`, `fetch`, etc.

Let me know if you need me to test more commands.

[2018-02-04 18:02] svseslav commented on #1475
Git CMD (Windows7 x64):

git log -0
error: cannot spawn less: Function not implemented

git stash list
error: cannot spawn git-stash: Function not implemented

Git Bash does not have such problems. I downgraded git to v2.16.1.windows.1, and now it works as expected.

[2018-02-04 22:22] dscho commented on #1449
@kraai I think the SDK does not currently work as expected, mostly because BinTray (which we use to host our Pacman packages, a decision I dearly regret now) has blocked services "due to overuse".

In the mean-time, you may get unblocked by using https://github.com/git-for-windows/git-sdk-64. I did not get around to define the `.gitattributes` correctly yet, so it is a little involved:

- `C:`
- `

[2018-02-04 22:38] glhez commented on #1475
I have the same problem with other commands:

- `git update` (I think it was replaced by another but still... I don't expect a "error: cannot spawn git-update: Function not implemented")
- `git difftool -x lib/difftool.bash -y "$file""` : this worked fine before; the bash script simply use a diff tool capable of handling $file (it is a SHA1 based file). `error: cannot spawn git: Function not imple

[2018-02-04 22:58] shiftkey commented on #1475
@dscho I can reproduce this on Windows `6.1.7601` in Git CMD (Git Bash seems unaffected).

<img width="590" src="https://user-images.githubusercontent.com/359239/35783410-acf7ac38-0a5a-11e8-8f0b-b6be80dc39ea.png">

While getting to the bottom of this issue, I'd recommend one of two workarounds for people who encounter this:

 - if you still want to use `2.16.1.windows.2`, use Git Bash instead of G

[2018-02-05 00:11] dscho commented on #1475
That's interesting... I specifically tested with Git CMD on Windows 10, and it seems to work.

@shiftkey any chance you can instrument the code in `compat/mingw.c` to see what `GetLastError()` reports after `CreateProcessW()` fails (which I assume fails)? I do not currently have any VM with winver 6.1.7601...

[2018-02-05 04:26] shiftkey commented on #1475
@dscho i think this is a combination of Win7/Server 2008 (different kernel?) and Git CMD, so Win10 not showing the issue does make sense.

I'll see if I can instrument things on Win7 and poke at the underlying error.

[2018-02-05 04:39] shiftkey commented on #1475
<img width="448" alt="screen shot 2018-02-05 at 3 36 24 pm" src="https://user-images.githubusercontent.com/359239/35788606-5b257b76-0a8a-11e8-87d4-3490d873178e.png">

Installing the Git SDK gets stuck with not being able to hit a certain package URL on BinTray (I checked back to 1.0.3 and it had the same issue, and I get stuck in this loop when I don't have a proxy) - I can't dig into this without

[2018-02-05 04:42] Eli-Zaretskii commented on #1475
The problem I reported, with `git pull` and `git fetch`, happens in Git Bash.  (I almost never invoke Git other than from the Git Bash window.)  Here again are my installation options, as reported in my original report:

$ git --version --build-options
git version 2.16.1.windows.2
cpu: x86_64
built from commit: e78e3c8ee9c219723d60aa1bccd8348c2269b9ba
sizeof-long: 4

$ cat /etc/install-options.txt

[2018-02-05 09:43] Geobert commented on #1475
`git clone` is affected as well.

[2018-02-05 10:22] dscho commented on #1475
@shiftkey Hrmph.

Yes, BinTray failed us. It is "rate limiting" Git for Windows. For some definition of "rate limiting". What it does in reality is to deny any service until their support gets in touch with me, which they claim might take a while because my free plan does not include any support option.

So we're kinda stuck right now, between a rock and a hard place.

[2018-02-05 13:25] bbolli commented on #1471
@FalconWu2017 Yes, just put the line `export LC_ALL=C.UTF-8` into a file called `.bashrc` in your home folder.

[2018-02-05 13:26] bbolli commented on #1471
@FalconWu2017 To exit the pager at the end of `git log`, press the `q` key.

[2018-02-05 14:47] VictorVG commented on #1475
Also Win7 SP1 can't work on to simple script:
[code]
- write to console:

but v2.16.1.0 work success. I downgarade v2.16.1(2) up to 2.16.1.0 ....

[2018-02-05 16:16] dscho commented on #1475
@Eli-Zaretskii for practical purposes, you are using cmd.exe by using that choice.

[2018-02-05 17:28] Eli-Zaretskii commented on #1475
Ah, okay, thanks for clarifying.

[2018-02-05 18:37] swaldman3 commented on #1453
I can't provide a MCVE, because I have a strong suspicion that to reproduce it you must first be behind a corporate proxy that is MITM-intercepting https traffic.
If you are in, or can simulate, that position, then to reproduce simply enter a git repo directory and run `git fetch origin`.

As noted in https://github.com/git-for-windows/git/issues/1453#issuecomment-360102323, I seemed to get exactl

[2018-02-05 19:27] dscho commented on #1467
Please understand that I am *trying* to help, and that it is extremely frustrating to be left hanging without enough feedback.

[2018-02-05 19:31] dscho commented on #1400
Closing this issue because I really feel my time wasted very freely by others here.

[2018-02-05 19:31] #1400 closed

[2018-02-05 19:35] dscho commented on #1474
I *think* that the symptom relates to an unset `http.sslBackend` (although I cannot really see how that would happen when installing Git for Windows via the installer).

[2018-02-05 19:40] erw7 commented on #1475
@dscho  After `CreateProcessW()` failed, I confirmed that `GetLastError ()` will return `1450`(ERROR_NO_SYSTEM_RESOURCES).
I found the following [information](https://github.com/rprichard/win32-console-docs/issues/6).

[2018-02-05 19:40] Comanche opened #1478 "Faulting application name: git-remote-https.exe, version: 2.16.1.2"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-05 19:44] Comanche commented on #1478
If Git was installed with `Git-2.16.1.2-64-bit.exe` (all default settings), there's not a problem.  The problem is only with the portable version (`PortableGit-2.16.1.2-64-bit.7z.exe`).

[2018-02-05 19:48] dscho commented on #1475
@erw7 I spent all day today trying to figure this one out. Apparently, certain handles are inherited implicitly, and it has something to do with `cmd.exe`.

I found, for example, that restricting the list of handles to inherit to 0 handles *worked*. The `CreateProcessW()` call succeeded on 2008 R2, and the spawned `git-remote-https.exe` process was *still* able to write to `stderr` and it was stil

[2018-02-05 21:46] ethomson commented on #1432
I turned on redirections from HTTP -> HTTPS - and Cloudflare has an option to rewrite links in the page.  I did _not_ yet turn on HSTS, but I'll do so if everything seems okay after this change.

[2018-02-05 21:56] #1475 closed

[2018-02-05 21:57] shiftkey commented on #1432
@ethomson just tested the HTTP -> HTTPS redirect is occurring in Edge, Chrome, Firefox and even IE11 in Win10. All looks good here.

[2018-02-05 23:33] dscho commented on #1478
Thank you for the report!

I am fairly certain that this is fixed via 60d8d6eae36358696027f95f0dc1a2dffc3b066b. It's a bit too late for me now, so I will release a new Git for Windows version tomorrow.

[2018-02-06 01:19] ulyanovvladimir commented on #1475
not working on windows 7 32bit.:
git clone results:
error: cannot spawn git: Function not implemented

[2018-02-06 09:12] pekof opened #1479 "Unable to install git for windows SDK 64bit"
When I try https://dl.bintray.com/git-for-windows/pacman/x86_64/git-for-windows.db
I get "Forbidden!"

Running install::
---------------------------------------------------------------
:: Synchronizing package databases...
error: failed retrieving file 'git-for-windows.db' from dl.bintray.com : The req
uested URL returned error: 403
error: failed to update git-for-windows (unexpected error)
 mingw

[2018-02-06 10:02] dscho commented on #1475
@ulyanovvladimir are you trying to tell me that you tested with a Git for Windows that includes dc374ab? Because if you did test with such a version, I would be very interested in a *lot* more details.

[2018-02-06 10:05] dscho commented on #1479
Indeed. This is a huge problem right now!

Explanation: we currently use BinTray to serve our Pacman repository. At some stage last Friday, during the frenzy to get v2.16.1(2) released, I apparently hit some threshold and BinTray "rate-limited" us "due to overuse".

Except that it did not rate-limit us. Instead, it now forbids any download of any file we ever uploaded.

I am in the process of movi

[2018-02-06 10:20] dscho commented on #1453
What does `git config --show-origin http.sslCAInfo` say?

Oh, come on. You certainly must understand how frustrating it is to try to help people, only to get as little information as you provided, and only what I asked for specifically.

Don't be such a dick.

Back to the topic. I can see how it would appear likely that a MITM proxy would cause problems, but given that 2.15.1.2 does not have those

[2018-02-06 10:48] swaldman3 commented on #1453
<snip>

If you want me to go out of my way to install a non-working version of the software to help you diagnose problems, don't call me a dick, or tell me to "step up my game".

Thank you for putting Git for Windows together.
Goodbye.

[2018-02-06 12:55] dscho commented on #1453
I appreciate your thanking me. Actions speak louder than words, though.

Open Source is a deal: you get things without paying money, but of course those things are not worthless, so you have to pay in different ways.

But I see that this conversation went south the moment you claimed that you provided an MCVE in the same sentence where you said that you do not even know what an MCVE is. Sadly, thi

[2018-02-06 13:52] dscho opened #1480 "Fix `git send-email`"
Due to the Perl upgrade, `git send-email` stopped working. The reason: the Net-SSLeay module really wants to be compiled for specific Perl versions, and we still shipped the one for the previous Perl version.

This is not a biggie usually, as most Git for Windows users use modern ways to collaborate on code.

However, when contributing to the Git mailing list, this command comes in pretty handy, a

[2018-02-06 14:08] dscho commented on #1474
FWIW even if it does not look like it, #1475 is probably describing this very same issue.

[2018-02-06 14:10] dscho commented on #1474
Oops. I meant #1478.

[2018-02-06 14:11] dscho commented on #1478
(I am labeling this as "duplicate" to document that the issue had been reported earlier, but that ticket was closed already, so I don't fault anybody for missing it.)

[2018-02-06 14:11] #1478 closed

[2018-02-06 14:14] dscho commented on #1480
Fixed via https://github.com/git-for-windows/MSYS2-packages/commit/e9ccd752a8a59faabcb0aad8ec1808d34f1b76b1.

[2018-02-06 14:14] #1480 closed

[2018-02-06 15:13] MagicAndre1981 opened #1481 "error: cannot spawn git: Invalid argument"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit? I use `Git-2.16.1.2-64-bit.exe`

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32

[2018-02-06 15:14] dscho commented on #1479
FWIW Git for Windows' Pacman repositories moved to Azure Blobs.

So what does that mean for you, dear reader, who may have found this ticket in search of a solution to getting a working Git for Windows SDK?

# Fixing existing SDKs

You can fix your existing SDK (if you installed it successfully before Friday, February 2nd 2018) by downloading either

- https://wingit.blob.core.windows.net/x86-64/g

[2018-02-06 15:19] garretwilson commented on #1481
I just ran into this with a fresh system with Git 2.16.1.windows.2 and TortoiseGit 2.5.7.0.

I note that someone has also [asked about this problem on Stack Overflow](https://stackoverflow.com/q/48608113/421049).

[2018-02-06 15:26] garretwilson commented on #1481
Interestingly when I run the same command TortoiseGit claims it is running from the command line, it executes successfully:

[code]

But still TortoiseGit shows an error:

Maybe this version of Git is not returning the correct error code.

[2018-02-06 15:27] MagicAndre1981 commented on #1481
thanks for the link @garretwilson . I did the downgrade to 2.160. as suggested in the SO topic and it works again.

[2018-02-06 15:30] dscho commented on #1481
Isn't this a duplicate of #1475?

[2018-02-06 15:39] MagicAndre1981 commented on #1481
I run 8.1 and I don't get "Function not implemented". I have no idea if this is a duplicate. can we get a nightly build to test it?

[2018-02-06 15:52] dscho commented on #1481
Due to unfortunate *other* problems, the snapshot builds did not work recently, so there are no current snapshots.

However, what is there is a new version: v2.16.1(3), just released. It's just out of the oven, you may have to wait a little until it cools off ;-)

Seriously again, if you could try that one, and report back, that would be awesome.

[2018-02-06 15:52] MagicAndre1981 commented on #1481
@dscho it is NO duplicate. I just installed `Git-2.16.1.3-64-bit.exe` and still get the same error message

[2018-02-06 15:56] MagicAndre1981 commented on #1481
I did the downgrade to `Git-2.16.1-64-bit.exe` and this also fixes the issue. So there is a regression between 2.16.1 and 2.16.2

[2018-02-06 16:08] dscho commented on #1479
For the record: this should no longer be necessary, as the Git for Windows SDK was updated with Git for Windows v2.16.1(3).

[2018-02-06 16:12] avih commented on #1473
Still same issue and STR with 2.16.1(3).

[2018-02-06 16:16] MagicAndre1981 commented on #1481
@dscho
I've tried `Git-2.16.1.3-64-bit.exe` on my Windows 10 v1709 VM and I get the same error. So this is no issue related to Windows 8.1 and no duplicate.

[2018-02-06 16:26] dscho commented on #1481
*sigh* I *just* released a new Git for Windows version! Can't I *ever* have a good version?

</rant>

Can you see (e.g. using [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)) *which* `git.exe` is called (there are a couple of 'em...) in the working vs non-working case?

[2018-02-06 16:38] dscho commented on #1473
@avih please understand that I have to focus on a couple of bugs that seem to affect a large percentage of Git for Windows users, while your bug seems not to affect that many users...

I *think* part of the reason might be that we do not ship all that many entries in `/usr/share/terminfo/`, and I *think* that there was a change in ncurses that made things crashy when files were unexpectedly not fo

[2018-02-06 16:45] avih commented on #1473
I was not complaining at all, just providing additional info.

And here's another piece of info: it also happens while in a window opened by `git-cmd.exe`: run it, then run `bin\bash` (enter) and then `TERM=vt220` (enter) and it exits bash and returns to the cmd.exe shell without any messages.

[2018-02-06 17:38] dscho commented on #1473
Yes, that looks like that symptom I described...

[2018-02-06 17:54] Bendor commented on #1481
The same problem on Windows 10 with Git-2.16.1.2-64-bit.exe and  Git-2.16.1.3-64-bit.exe build

[2018-02-06 18:33] ahogen commented on #1473
This affects me. I didn't look into it this much.

I just attempted to upgrade from 2.15.1.2-64 to 2.16.1.3-64 and git-bash immediately closes on launch. Uninstalling and going back to previous version works for me.

[2018-02-06 20:36] Tim-bflow commented on #1481
Same thing here.  I can no longer Push anything because I need to Pull first and have clients waiting on my updates...

[2018-02-06 20:59] avih commented on #1473
This might indeed be the case with `TERM=vt220`:
[code]

And indeed this file doesn't exist.

However, the issue also exits when setting `TERM=xterm-256color`, and this file _does_ exist, but `infocmp` reports it doesn't:
[code]

I then tried copying it from Alpine linux, where it's `/usr/share/terminfo/x/xterm-256color` into the 78/ dir - overwriting the original `xterm-256color` which comes with

[2018-02-06 23:19] pjturpeau opened #1482 "PortableGit fails silently (return code 128)"
Similar to an old ticket : https://github.com/git-for-windows/git/issues/390

### Setup

[code]

[code]

It's on my work laptop, and due to restricted installation credentials, I'm only allowed to put and launch portable executable from a dedicated subdirectory (which has spaces...) under "My Documents".

http_proxy and https_proxy environment variables setup to the right proxy:port configuration.

[2018-02-07 05:30] FalconWu2017 commented on #1471
@bbolli Thank you very much.It's a good way to do it press the `q` key.

[2018-02-07 06:00] linquize commented on #1475
1.16.1(2), 1.16.1(3) do not work.
`git pull` in TortoiseGit

[2018-02-07 06:11] 0x084E commented on #1475
I can confirm that 1.16.1(3) still has issues
``git stash`` in TortoiseGit (latest Beta 2.5.7)
``error: cannot spawn git-stash: Invalid argument``

[2018-02-07 06:13] shiftkey commented on #1475
@linquize @0x084E please open a fresh issue with full repro steps, so we can confirm whether it's the same problem or a different one

[2018-02-07 06:19] 0x084E commented on #1475
I think it was already done, sorry for not looking before
https://github.com/git-for-windows/git/issues/1481

[2018-02-07 06:23] 0x084E commented on #1481
Same problem here

[code]

[code]

[2018-02-07 07:14] ArminVieweg commented on #1478
Cool, thanks!

[2018-02-07 07:19] ArminVieweg commented on #1474
Should I reopen this one again? But I swear, with the installer it works ;)

[2018-02-07 09:26] VictorVG commented on #1475
Thanks! I also test and Git  dc364ab is working success.

[2018-02-07 09:47] dscho commented on #1475
Surely you mean 2.16.1(2) and 2.16.1(3) ;-)

But yes, I think #1481 is the ticket to discuss this, and I would *love* to get to the bottom of this as soon as possible. Every bit of help is greatly appreciated!

[2018-02-07 09:48] dscho commented on #1474
No, as it has been fixed in v2.16.1(3) (released yesterday).

Yes, and the reason is that the installer always sets `http.sslBackend`... ;-) So the previously unguarded `strcmp("schannel", http_ssl_backend)` tried to access `NULL`, which will always fail.

[2018-02-07 09:50] dscho commented on #1482
Please try [v2.16.1(3)](https://github.com/git-for-windows/git/releases/tag/v2.16.1.windows.3) (released yesterday), which has a fix precisely for this, also reported as #1478.

[2018-02-07 09:50] #1482 closed

[2018-02-07 09:51] dscho commented on #1482
BTW this issue is also known: #1479. Please have a look at that ticket for the suggested workarounds for now.

[2018-02-07 10:00] dscho commented on #1481
Wait, are y'all talking about BusyBox-backed MinGit? Why is this the first time anybody tells me about this!

[2018-02-07 10:04] TCHessen commented on #1481
No. I had the same issue on Windows 10 without the busybox build.

[2018-02-07 10:09] dscho commented on #1473
@avih thanks for this analysis.

If you `git clone --depth 1 https://github.com/git-for-windows/git-sdk-64` (it's about 540MB) and look inside there, you will see the same terminfo files as from MSYS2. I wonder, however, whether there is an assumption that the file `/usr/lib/terminfo/78/xterm-256color` exists (which is *also* in Git for Windows' SDK, as well as MSYS2), and that assumption would be

[2018-02-07 10:10] dscho commented on #1481
@TCHessen could you kindly describe your setup precisely? And also verify that things still do not work correctly with *Portable*Git v2.16.1(3)?

[2018-02-07 10:13] TCHessen commented on #1481
Sure. I used TortoiseGIT 2.5.7 and

git version 2.16.1.windows.3
cpu: x86_64
built from commit: dc364ab06b41bcd142295751cef12e2c88fdc437
sizeof-long: 4

Any other infos needed?

[2018-02-07 10:15] dscho commented on #1481
Does TortoiseGit really play a role, or does it also occur if you use Git Bash or Git CMD directly?

BTW if you want, we can head over to https://gitter.im/git-for-windows/git and discuss more interactively. I would like to get to the bottom of this, and if you can help me with that, I will be very grateful.

[2018-02-07 10:18] dscho commented on #1479
Actually, the rest of what needs to be addressed in this ticket is properly described here: https://github.com/git-for-windows/git/issues/1357. So I will close this here ticket now and continue in the other ticket (which I hoped some enthusiastic volunteer could pick up, because it really is a fun project, and I have to address quite a few non-fun projects in the meantime that I do not want to bur

[2018-02-07 10:18] #1479 closed

[2018-02-07 10:19] TCHessen commented on #1481
TortoiseGIT plays a role, but I cannot say more. On the command line there occurs no error.
C:\...\xxx>"C:\Program Files\Git\bin\git.exe" pull --progress -v --no-rebase "origin"
From https://git.sittig.local/Web/xxx
 = [up to date]      master     -> origin/master
Already up to date.

[2018-02-07 10:20] 0x084E commented on #1481
I can confirm this. ``git stash push`` is also working well when called from cmd.exe

[2018-02-07 10:23] dscho commented on #1357
This is now actually more urgent a project. It would be really nice if a volunteer could step up to do the job, as it is a pretty fun project, with next to no prior knowledge required (I will provide guidance, of course), and I personally do have a lot more non-fun projects to take care of in the meantime...

[2018-02-07 10:23] aimbin commented on #1481
After I update git  to windows3(Git-2.16.1.3-64-bit.exe), still can not use git-tortoise to pull. But can do git remote show and git pull in command line.

[2018-02-07 10:24] dscho commented on #1481
Could you use the [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) to log what is happening while TortoiseGit exposes that problem, then right-click on the `git.exe` that is spawned to verify its location? It *could* be that TortoiseGit bundles its own MinGit, after all.

[2018-02-07 10:25] dscho commented on #1481
@aimbin thank you for confirming. At this point, I would like to reduce the "#metoo" chatter, though, as I already *know* that it is a big problem, and do not need to be reminded of it. What I need is more information to recreate the problem here so I can work on a fix. Thank you.

[2018-02-07 10:27] dscho commented on #1409
@asalwa any luck so far?

[2018-02-07 10:32] dscho commented on #1481
@MagicAndre1981 can you confirm or deny that downgrading to v2.16.1 works?

People, I need your help.

[2018-02-07 10:32] TCHessen commented on #1481
TortoiseGIT spawns "C:\Program Files\Git\bin\git.exe" pull --progress -v --no-rebase "origin" , I can confirm it with the ProcessMonitor.

[2018-02-07 10:34] 0x084E commented on #1481
@dscho I can confirm that v2.16.1 woks

[2018-02-07 10:34] dscho commented on #1481
Oh, nevermind @MagicAndre1981 I should have tried to read more closely. So yes, the problem is most likely that the code to try to avoid those locking issues somehow does not like the standard handles passed in by TortoiseGit.

@TCHessen thank you for confirming. Let me build a custom installer for you, with a tentative fix.

[2018-02-07 11:09] dscho commented on #1481
Okay, here it is: https://github.com/dscho/git/releases/tag/attempt-to-work-around-1481-v1

If it does not work (or if it does, and you are willing to help me even further), can you set the config variable `config.debug1481 = true` in the repository and run the Git operation again? The debug output should help me identify the root cause.

[2018-02-07 11:15] 0x084E commented on #1481
[code]
``config.debug1481 = true`` doesn't seem to have an effect on this output

[2018-02-07 11:19] TCHessen commented on #1481
With TortoiseGIT:

git.exe pull --progress -v --no-rebase "origin"

warning: ret: 1, restrict 1, #count: 3, err: 122
warning: ret: 1, restrict 1, #count: 3, err: 122
warning: ret: 1, restrict 1, #count: 3, err: 122
warning: ret: 1, restrict 1, #count: 3, err: 122
warning: ret: 1, restrict 1, #count: 3, err: 122
warning: ret: 1, restrict 1, #count: 3, err: 122
From https://git.sittig.local/Web/ZRH_

[2018-02-07 11:26] asalwa commented on #1409
Yes, some :) Thanks for extra explanation. Now I'm able to build my own Git installer. I hope to have time slot this or next week to finally fix this issue.

[2018-02-07 11:32] toouur commented on #1481
Hi there, I was the one who raised the question on SO. I can confirm, that the pull worked just fine both from git bash and git cmd. Also, it seems like working with tortoise if you do it with fetch rebase (recheck it please).
I haven't downgraded on my home PC yet because it's not critical for me.

[2018-02-07 11:43] dscho commented on #1481
@0x084E thanks for testing. Can you try with `git.exe -c core.debug1481=true stash push`?

@TCHessen now, this is fascinating. I never knew that you could pass in such a handle. `INVALID_HANDLE_VALUE` corresponds to `ffffffffffffffff` (i.e. the unsigned version of -1), while this is -2. I wonder where that comes from.

[2018-02-07 11:58] 0x084E commented on #1481
@dscho ``git.exe -c core.debug1481=true stash push`` with cmd.exe works as expected and doesn't produce any further output.
With Tortoise I cannot add additional arguments. It produces the output above.
If tried to set debug1481 at repo and user level, but output doesn't change. Am I doing somthing wrong? The config looks like this:
[code]

[2018-02-07 12:01] dscho commented on #1481
That is not expected. `git.exe stash` should *always* spawn something. If it does not even show the "spawn2 not even attempted" message, something is really wrong, as in: this is probably not that `git.exe` you just installed from that custom installer.

If the patched `git.exe` is running, that should indeed provide plenty of debug output.

[2018-02-07 12:01] TCHessen commented on #1481
I did exactly the same and got the debug output. I hope that it helps.

[2018-02-07 12:09] 0x084E commented on #1481
@dscho see edit, for other commands i get an output
if checked this multiple times now, with other commands i get additional output but not with ``stash``, not with ``stash push`` and not with ``stash pop``. But I can see that it spawns multiple git processes.
I've also checked multiple times that it uses always the same git install.

[2018-02-07 12:10] dscho commented on #1481
@0x084E ah, maybe the problem is that the config variable is not parsed in time. That must be the problem, definitely, yes, as `git-stash` is a Unix shell script, and at that point we do not parse the config lest we taint commands that do not even need a Git directory...

I'll have a look at the edited output.

[2018-02-07 12:13] dscho commented on #1481
@0x084E sadly, the edits did not come through automatically. I had to reload the entire page. Could I ask you a favor? Just add comments, instead of editing them... 😄

Aha! That's the same symptom as in the TortoiseGit case.

What is your setup? You are not using TortoiseGit, correct? So which terminal do you use?

[2018-02-07 12:16] 0x084E commented on #1481
OK, will do next time 😄
sorry for confusion, the output above comes from TortoiseGit. If I don't use TortoiseGit I use cmd.exe which works fine in all cases I've tried so far.

[2018-02-07 12:17] dscho commented on #1481
BTW @TCHessen @0x084E I uploaded another custom installer here: https://github.com/dscho/git/releases/tag/attempt-to-work-around-1481-v2

It should print more information on the funny handle. Could you test, please?

[2018-02-07 12:18] dscho commented on #1481
@0x084E thanks for the clarification! You probably mentioned it somewhere in the thread, and my congested sinuses prevent me from holding all the information in my working memory. Sorry about that.

[2018-02-07 12:20] 0x084E commented on #1481
output from ``git.exe fetch -v --progress "origin"`` (with TortoiseGit)
[code]

[2018-02-07 12:21] TCHessen commented on #1481
git.exe pull --progress -v --no-rebase "origin"

warning: get_osf_handle for 7 (fd_is_interactive 0 0): 0000000000000274 (0000000000000000 0000000000000000)
warning: fhin: 7, hstdInput: 0000000000000274
warning: get_osf_handle for 8 (fd_is_interactive 0 0): 0000000000000278 (0000000000000000 0000000000000000)
warning: get_osf_handle for 2 (fd_is_interactive 0 0): 0000000000000598 (0000000000000000

[2018-02-07 12:36] MagicAndre1981 commented on #1481
here is my output of v2 of your debug exe with `debug1481 = true` set in config:

[code]

[code]

[2018-02-07 12:37] dscho commented on #1481
Thanks. This is getting really weird. So something either in Git or in TortoiseGit sets the handle to `(HANDLE)-2`... Let's see whether I can find some code that might do that.

[2018-02-07 12:40] MagicAndre1981 commented on #1481
if you can build a version with generated PDBs and provide the PDBs for that version I can use ETW to do handle tracing with callstack so I could maybe see some details in Windows Performance Analyzer.

[2018-02-07 12:48] dscho commented on #1481
@MagicAndre1981 good idea. It is not *quite* straight-forward to do that yet, but I'll use a work-around.

In the meantime, I dug out the source code in TortoiseGit that *seems* to be responsible for calling `git.exe`: https://github.com/TortoiseGit/TortoiseGit/blob/b2d00f8785e2b148e5555925a3be7fbebca7a29f/src/Git/Git.cpp#L281-L375

As far as I can see, `hStdInput` is initialized to `0`, and never

[2018-02-07 12:53] eaaltonen commented on #1298
@dscho: no network drive involved.

I arranged a test this morning which confirmed my (new) suspicions. In our case, the principal cause for the slowness was _real time scanning_ done by our company preinstalled anti virus program. Adding a scan exclusion rule made the reponsiveness quite reasonable.

[2018-02-07 13:11] TCHessen commented on #1481
But since this issue occurs in version 2.16.2 and 2.16.3 and not in 2.16.1 a diff should help to find the bug?

[2018-02-07 13:18] cs96and commented on #1481
I suspect it's related to [this bug fix](https://github.com/git-for-windows/git/commit/576ff26eeca22526b7ba11444da24d31daf0b369) in 2.16.1.2...

[2018-02-07 13:25] dscho commented on #1481
@TCHessen the bug is somewhere else than in the diff. I can show you the responsible code: https://github.com/git-for-windows/git/blob/dc364ab06b41bcd142295751cef12e2c88fdc437/compat/mingw.c#L1724-L1738

This code was introduced in v2.16.1(2), with the intention to avoid file locking issues. The thing is: if you spawn a new process, stating that you want it to inherit file handles, by default it i

[2018-02-07 13:27] dscho commented on #1481
Of course I should also link to the part above, that constructs the list of `stdhandles`: https://github.com/git-for-windows/git/blob/dc364ab06b41bcd142295751cef12e2c88fdc437/compat/mingw.c#L1655-L1666

[2018-02-07 13:34] dscho commented on #1481
I just uploaded a third custom installer: https://github.com/dscho/git/releases/tag/attempt-to-work-around-1481-v3

@MagicAndre1981 it should include `.pdb` files for Git's executables, could you try to work your magic?

To continue my musing about a proper fix (which I attempted via https://github.com/dscho/git/commit/868c7ceca349efb1b94ac21627a736f8bfecb833, but I am no longer certain that that

[2018-02-07 13:36] dscho commented on #1481
Oh, and @TCHessen @0x084E if you got a minute, could you see whether the output with that third custom installer under `core.debug1481 = true` still mentions `handle #0: fffffffffffffffe` or another `handle #0` (it should not)?

[2018-02-07 13:38] dscho commented on #1298
Oh wow. For the record, could you mention which anti-virus this is?

Maybe it is the same issue as yours, @jstocke2 ?

[2018-02-07 13:40] 0x084E commented on #1481
Seems that there's one left:
[code]

[2018-02-07 13:45] TCHessen commented on #1481
[code]

[2018-02-07 13:48] TCHessen commented on #1481
@dscho I wrote an email, maybe we found a faster way to check it out.

[2018-02-07 13:52] dscho commented on #1481
@0x084E @TCHessen those outputs show success! `_get_osfhandle()` still returns `(HANDLE)-2`, which was kinda expected, but the code to fall back to calling `CreateProcess()` *without* restricting handle inheritance was not needed!

@TCHessen let me check my mail ;-)

[2018-02-07 14:03] willhausman commented on #1481
I see that most people are reporting this error from TortoiseGit, with cmd.exe working correctly.  I am currently running git version 2.16.1.windows.2 from powershell and see the error on a simple pull, no extra args. Running Windows 7 Pro, version 6.1.

[2018-02-07 14:09] dscho commented on #1481
And here is an installer for a version that does precisely that: https://github.com/dscho/git/releases/tag/attempt-to-work-around-1481-v4

@0x084E @TCHessen could I ask you to test once again, maybe both with and without `core.debug1481` set?

@willhausman you are not on the latest Git for Windows release. And based on your Windows version, I would expect you to hit another issue, reported as #147

[2018-02-07 14:14] eaaltonen commented on #1298
Not publicly, sorry. I can report it privately, if you have PGP or similar configured.

[2018-02-07 14:16] MagicAndre1981 commented on #1481
@dscho

Here is output of v4:
[code]

[2018-02-07 14:16] TCHessen commented on #1481
yeah...

[code]

[code]

[2018-02-07 14:17] willhausman commented on #1481
@dscho Correct on both fronts, apologies for the confusion.  I had just installed Git 2 days ago and assumed it was still the latest version. Confirmed that 2.16.3 works from powershell.

[2018-02-07 14:25] dscho commented on #1481
@MagicAndre1981 @TCHessen thank you so much for testing!

@MagicAndre1981 did you have any luck with those .pdb files and ETL? I would really be curious to know where that handle value comes from, if only to exclude Git for Windows as the culprit.

FWIW my current plan is to cherry-pick to `master` the patch that was at the tip of v4, and then also copy-edit https://github.com/dscho/git/commit/081

[2018-02-07 14:28] ethomson commented on #1432
Okay, the HTTP -> HTTPS redirect is in place.  I'm actually going to defer turning on HSTS; since HSTS is basically a permanent big hammer, let's make sure that we're happy with all our certificates and hosting.  I think _not_ having HSTS is acceptable until then, since we are not providing downloads from [https://git-for-windows.org/](https://git-for-windows.org/) (those are provided by GitHub) a

[2018-02-07 14:28] #1432 closed

[2018-02-07 14:36] MagicAndre1981 commented on #1481
@dscho I found the PDBs, but the ETW doesn't show error code/result for the `Windows Kernel/Object/CreateHandle` events:

`    <Event MSec= "15326,6211" PID="2140" PName=     "git" TID="7140" EventName="Object/CreateHandle" Object="0xFFFFB28439D11970" Handle="0xFFFFFFFF80002718" ObjectType="36" ObjectName="" ObjectTypeName="File"/>`

But it would be nice if the official installer would also ship w

[2018-02-07 14:40] michaelblyons commented on #1317
Alexander, have you tried this since 2.16.0(2)? I had similar issues until that release.

[2018-02-07 15:12] MagicAndre1981 commented on #1481
@dscho

I used the `Git-2.16.1-issue1481-4-64-bit.exe` now to do some pulls via TGit 2.5.7 and it works now fine for me.

[2018-02-07 15:28] dscho commented on #1481
@MagicAndre1981 thanks for doing this! I *guess* the limited output stems from the fact that those `.pdb` files were not generated by Visual Studio, but via `cv2pdb` from GCC-compiled code...

I planned on bundling a `.zip` file with the `.pdb` files for every Git for Windows version and offering it at the same place as the installers. I already have most of the building blocks in place, but start

[2018-02-07 15:49] MagicAndre1981 commented on #1481
@dscho no, the PDBs are only usefull to get the stack, otherwise you see ?!? in stack.  The missing error is a limitation of ETW. But having the PDBs now all time is great

[2018-02-07 16:21] 0x084E commented on #1481
@dscho ``MinGit-prerelease-2.16.0.windows.2.1027.g1a4ee4d5d8-64-bit`` is also working well, tried pull and stash with success.
Thanks for your work!

[2018-02-07 16:27] dscho commented on #1481
@0x084E that is unfortunately a stale snapshot... Ever since v2.16.1 was released, the snapshot builds failed (because I used Azure Blob's REST API incorrectly, and they started refusing incorrect usage a few days after that).

I will definitely notify y'all when a new snapshot is available. Or maybe I'll make up my mind and dare release v2.16.1(4), hoping that this time no crucial bug will be rep

[2018-02-07 16:31] MagicAndre1981 commented on #1481
@dscho

release the v2.16.1.4 to fix this issue and unblock all TGit users.

[2018-02-07 16:34] 0x084E commented on #1481
Oops, I didn't notice this was an old release. It is getting late...

[2018-02-07 16:41] dscho commented on #1481
@MagicAndre1981 @bkraul @0x084E okay, I'll do that.

@0x084E no worries.

[2018-02-07 16:54] bbolli commented on #1479
The correct link for the 32-bit package is https://wingit.blob.core.windows.net/i686/git-extra-1.1.241.91af289c6-1-i686.pkg.tar.xz. The architecture path component is `i686` for 32 bit.

[2018-02-07 17:01] dscho commented on #1479
@bbolli d'oh, of course! Thanks!

[2018-02-07 17:04] dscho commented on #1298
This bug tracker is public for a reason. If there are issues, I want users to find them, the explanation and hints how to resolve it.

I do *not* want users to contact me privately, as I am not a free help desk. This is a publicly-run project for a good reason: I do not want to be the (dumb) one stuck with helping everybody and not getting anything in return.

So no, I do not want to know about th

[2018-02-07 17:10] dscho commented on #1409
@asalwa I look forward to it!

[2018-02-07 17:21] #1481 closed

[2018-02-07 19:04] Hucklecatt commented on #1481
Hi all - this is a blocker for our release. May I ask if (4) will be made available today (2/7)? Many thanks.

[2018-02-07 19:40] dscho commented on #1481
@Hucklecatt I was already on it, as I had said earlier. No need to put more stress on me.

[2018-02-07 19:44] dscho opened #1483 "Upload the current `git-extra` (and appropriately-updated databases) to the former Pacman repositories"
BinTray was nice enough to unblock us last night. The transition to Azure Blobs is already complete, though, as far as the tooling is concerned.

Now we only need to update the SDK installer (#1357), and for existing SDK installations, we need to update the databases at the previous location of the Pacman repositories to allow for as painless a transition as possible.

[2018-02-07 19:45] Hucklecatt commented on #1481
My idiocy precedes me - really sorry about that Johannes.

[2018-02-07 19:46] dscho commented on #1481
@Hucklecatt no worries. I can see how you are eager to get a fixed version if your release (which software is that?) is blocked by the bug reported in this here ticket.

[2018-02-07 20:08] dscho commented on #1481
Voilà: https://github.com/git-for-windows/git/releases/tag/v2.16.1.windows.4

[2018-02-07 20:16] 0x084E commented on #1481
I confirm my previous confirmation - now on correct version -  that everything is working well again 😄
Thanks!

[2018-02-07 20:23] WilYT opened #1484 "Issue!"
CONTENT DELETED

[2018-02-07 20:39] dakotahawkins commented on #1481
@dscho I was having this issue generically, and it seems like there's still a problem:

[code]

[2018-02-07 20:41] bkraul commented on #1481
Everything works here as well.

[2018-02-07 21:08] #1484 closed

[2018-02-07 21:14] dscho commented on #1481
@dakotahawkins darn. At least you have a way to suppress the warning.

FWIW `87` means `ERROR_INVALID_PARAMETER`. So there is *still* something about those handles that Windows 7 does not like (I am just going on a limb out here and assume that ConEmu on Windows 10 probably does not have the same problems).

I guess we should really try to suppress this warning in general on Windows 7 and earlier?

[2018-02-07 21:51] dscho commented on #1481
@MagicAndre1981 I finished this work, and manually uploaded the files to the v2.16.1(4) release (they are called `pdbs-for-git-*.zip`). In the future, this should be automatic (modulo bugs I introduced ;-)).

[2018-02-07 22:07] dakotahawkins commented on #1481
@dscho Here you go: `Microsoft Windows [Version 6.1.7601]`

[2018-02-07 22:11] alexander-koerschgen commented on #1317
Thank you for bringing this up, Michael. I just ran a few tests on version 2.16.1 and the issue seems to be fixed!

[2018-02-07 22:11] #1317 closed

[2018-02-07 22:26] csware commented on #1481
@dscho

I changed TortoiseGit to initialize `si.hStdInput = INVALID_HANDLE_VALUE;` still `warning: fhin: 0, hstdInput: fffffffffffffffe` is passed to `git.exe`...

If you have any idea what I can do on the TortoiseGit side, I'm happy to do.

[2018-02-07 22:30] bkraul commented on #1481
Ah...collaboration. A dream come true. Thanks guys for your work. You really keep the world going.

[2018-02-07 22:31] dscho commented on #1481
That's funny, indeed... :-( Well, we do have a work-around for now.

[2018-02-07 22:32] csware commented on #1481
@dscho Even if we have a workaround now, if there's a bug in TortoiseGit I want to fix it...

[2018-02-07 22:33] dscho commented on #1481
@dakotahawkins I am currently thinking about something like this:

[code]

[2018-02-07 22:35] dscho commented on #1481
@csware since you changed the call, and since Git *still* reports an odd `HANDLE` value, I guess the culprit is not on TortoiseGit's side?

If you could dig further from here, that would be awesome. I really should go to bed to get well (been working on this despite being sick as I figured it's important).

[2018-02-07 22:44] dscho commented on #1483
Uploaded the newest `git-extra` to BinTray (whose post-install script modifies `/etc/pacman.conf` to point to the new location) and updated the Pacman database.

[2018-02-07 22:44] #1483 closed

[2018-02-07 22:57] csware commented on #1481
@dscho I'll do some more testing tomorrow (passing `dwFlags |= CREATE_NEW_CONSOLE` vs. `dwFlags |= DETACHED_PROCESS;` makes no difference).

I', also crashing down and "Gute Besserung".

[2018-02-07 23:20] csware commented on #1481
@dscho MSDN doesn't explecitly say that passing `INVALID_HANDLE_VALUE` is valid. I tested a bit with creating a pipe and closing the Write-Handle immediately after CreateProcess and this seems to work (git and ssh are using the ASKPASS helpers). This could be a better solution than passing `0` or ``INVALID_HANDLE_VALUE`, however, I'm unsure whether this has any negative side-effects (we had some i

[2018-02-07 23:54] dakotahawkins commented on #1481
@dscho The version check seems reasonable, but if I were you I'd consider putting the `7601 << 16` in a constant somewhere to make it more readable/obvious :)

[2018-02-08 02:49] adamvoss commented on #1470
Would it be helpful if I tested both version with Git Bash (CMD) installs as well?

[2018-02-08 03:20] k2ksk2k commented on #1336
@dscho The xmllint.exe could be compiled without msys-icuuc59.dll. You can compile a new xmllint.exe with source code in mingw/msys, then replace the xmllint.exe in the Git/usr/bin. Or you can download the missing dlls from some website, what you need is msys-icuuc59.dll, msys-stdc++-6.dll and msys-icudata59.dll.

[2018-02-08 09:25] MagicAndre1981 commented on #1481
@dscho

ok, I haven't checked the Git-2.16.1-issue1481-4-64-bit under Win7, only Win8.1 and Win10 1709 so I didn't noticed that it still has issues. Sorry that you still have trouble 🙈😇

[2018-02-08 12:13] dscho commented on #1336
@k2ksk2k Indeed, you could compile a new `xmllint.exe` if you need one. That executable is in no way necessary for Git to work, so the bug was to bundle it in Git for Windows to begin with. And this bug has been addressed.

[2018-02-08 19:57] bbolli commented on #1357
Next question: are any proxy settings (especially `https_proxy`) active when `git-sdk.sh` runs? Otherwise the `git clone`s would fail if a proxy is needed to reach GitHub.

[2018-02-08 20:09] pdhoward opened #1485 "Just attempted to push some code to my GitHub Repos -- and this error pops up: "error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-08 20:19] #1485 closed

[2018-02-08 20:19] pdhoward commented on #1485
weird -- error popped up per title then resolved itself 10 minutes later

[2018-02-08 20:58] edwlarkey commented on #1485
@pdhoward This might be related to GitHub disabling weak cryptography. They did a test for 1 hour today, and they plan to disable them permanently on the 22nd.

https://githubengineering.com/crypto-removal-notice/

[2018-02-08 21:36] DraakUSA opened #1486 "Perl missing dll"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-08 23:50] goldfinger2 opened #1487 "Git Gui: show ssh key don't show key type id_ed25519.pub"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-09 04:08] Kage336 commented on #1467
today, I update git for windows again, and the problems doesn't happened again, I don't know what
has happened. Thank you for your help, if the problem appear again next time , I will report.

[2018-02-09 05:51] shiftkey commented on #1485
@pdhoward can you share which version of Git for Windows and Windows you are running? The fact that the error was intermittent probably means you should update before you get caught again when it's disabled permanently...

[2018-02-09 07:04] bbolli commented on #1357
Work in progress: https://github.com/bbolli/build-extra/commits/master

[2018-02-09 08:42] bbolli commented on #1487
This looks like a problem in upstream Git GUI. Would you mind reporting this to the Git mailing list at git@vger.kernel.org? Or even better, write the patch yourself? ;-)

[2018-02-09 09:10] bbolli commented on #1486
That's strange; the standard perl.exe is in `/usr/bin`, i.e. `C:/Program Files/Git/usr/bin` and is version 5.24 in the released Git for Windows.

Try running `/usr/bin/perl -v`.

Did you build a more recent Perl yourself?

[2018-02-09 10:20] dscho commented on #1485
@shiftkey is there a way to auto-label new tickets where the reporter did not bother to fill out the information we suggest to provide so that it is possible to help them?

[2018-02-09 10:31] dscho commented on #1486
Indeed. There is not even a `/usr/local` in a regular Git for Windows installation.

I *strongly* suspect that there is something going on that should have been in the answer to "Any other interesting things about your environment that might be related to the issue you're seeing?"

@DraakUSA you probably have copied custom stuff to `C:\Program Files\Git\usr\local\bin`, yes?

(It cannot be a left-o

[2018-02-09 10:32] dscho commented on #1470
@adamvoss it certainly would not hurt, but in general, the Ctrl+C handling is *so* different between MinTTY and a CMD window that I would always expect the latter to work, without even hitting the code paths we patched in the past few years to address Ctrl+C issues.

[2018-02-09 10:42] #1467 closed

[2018-02-09 12:21] pdhoward commented on #1485
Sorry - I abandoned the thread above thinking the problem was resolved. My version of git is 1.9.5.msysgit.1   .. I am running win 10.0.16299.1921    .. any help here would be greatly appreciated!

[2018-02-09 13:11] PhilipOakley commented on #1485
@pdhoward Ah the good (bad) old 1.9.5.msysgit.1 While there are still some users of the older versions, essentially the old 1.9.5.msysgit was the last of that ilk. The team moved over to the newer interface versions at the start of the Git 2.x series.

If I may suggest that moving up to a much newer version of the latest and greatest (especially with security fixes!) would be the way to go. Try th

[2018-02-09 14:09] pdhoward commented on #1485
Thanks much! You can see I have not been paying attention to this. I'll fix it now!

[2018-02-09 16:38] dscho commented on #1470
@adamvoss could you try running `winpty ./mvnw`?

(I do not really want to install Java just to test this, let alone risk Maven downloading half the internet, in that sense this MCVE is not really "minimal" for me ;-))

[2018-02-09 17:25] dscho commented on #1357
Great!

True. Probably a Powershell script would make most sense, as that does not yet need the Bash, and therefore could even do things like set up the POSIX mqueue and stuff.

OTOH I could also imagine that the best course of action would be to actually not clone anything, but just initialize the repositories and set up remotes (not fetching anything yet).

And then we could introduce a shell fu

[2018-02-09 19:55] mehrdadn opened #1488 "ReadKey.c: loadable library and perl binaries are mismatched"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]
The problem also occurs on the 32-bit version.

 - Which version of Windows are you running? Vista, 7,

[2018-02-09 20:51] tkrasnukha opened #1489 "bad git-diff - expected /dev/null"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-09 23:07] DraakUSA commented on #1486
You are correct, there was a perl executable in /usr/local/bin (the only thing in that directory).  I have no idea how it got there.  I deleted it, and deleted the 5_22 dlls I created.  perl -v now reports correctly 5.26 (even though the dlls are actually 5_24.  Thank you for the assist.

[2018-02-10 11:42] shiftkey commented on #1485
@dscho there's nothing in-the-box currently but I think the [Probot](https://probot.github.io/) community would be interesting to look at - [this integration](https://probot.github.io/apps/request-info/) is an interesting example related to your issue, and I'm sure there's others that could be built upon if you wanted to tailor the interactions when new issues arrive here.

[2018-02-10 15:38] adamvoss commented on #1470
`winpty` does does not work with the Maven wrapper:
[code]

For reasons I don't understand, `winpty` can't start Maven:
[code]
even though  it does exist on the path:
[code]
circumventing the path lookup does not help:
[code]

[`mvn` is a shell script](https://github.com/apache/maven/blob/master/apache-maven/src/bin/mvn).  If I directly execute the command its **exec**s to do the work, Ctrl + C wo

[2018-02-11 04:49] Chekonjak opened #1490 "git msutters/making-changes /n warning: failed to restrict file handles (2)"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit? 64 bit.

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit? 64-bit W

[2018-02-11 17:35] Ede123 opened #1491 "Interrupting git with "Ctrl+C" renders Git Bash unusable (input not printed anymore)"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-11 20:16] dscho commented on #1490
`** insert [...] here **` is far from a helpful report. In the least, the circumstances need to be described when this happens.

[2018-02-11 20:26] dscho commented on #1489
This is not a Windows-specific feature request. Therefore, it needs to be asked on [the Git mailing list](mailto:git@vger.kernel.org). (Note: you will have to convince your mail program to refrain from sending HTML mail or it will be dropped silently.)

Unless you are willing to contribute a fix for `apply.c` in the form of a Pull Request, in which case I will work with you to get it ready for sub

[2018-02-11 20:26] #1489 closed

[2018-02-11 20:27] #1486 closed

[2018-02-11 20:28] dscho commented on #1486
I am glad it works for you now.

[2018-02-11 20:29] dscho commented on #1485
@shiftkey what's the easiest way to set up a Probot integration? It there a convenient Azure template?

[2018-02-11 20:39] dscho commented on #1491
Thank you for your bug report.

Linux behavior in this case would not actually be to quit the pager, but to kill just git and keep the pager running until `q` was pressed.

This should be the behavior we want to imitate (but I guess we kill the pager, too...)

As a workaround for you, to get your terminal functional again: call `reset`

[2018-02-11 21:05] dscho commented on #1470
Is `mvnw` a shell script? Or a `.bat`/`.cmd` file?

[2018-02-11 22:28] shiftkey commented on #1485
@dscho there's some docs around deployment [here](https://probot.github.io/docs/deployment/) but nothing for Azure. There's [some interest](https://github.com/probot/probot/issues/149) in getting this running on serverless infrastructure like AWS Lambda, but that's a way off I think.

[2018-02-12 01:56] adamvoss commented on #1470
[`mvnw` is a shell script](https://github.com/rimerosolutions/maven-wrapper-example/blob/master/mvnw).

[2018-02-12 09:41] dscho commented on #1485
I'd be majorly interested in getting this to run as Azure Function. If only I had abundant time on my hands and would not have to take care of 93 open tickets (and a lot of behind-the-scene work)...

[2018-02-12 09:49] dscho commented on #1470
Okay, then...

probably means that you have to use `winpty sh "$(which mvnw)"` instead...

[2018-02-12 10:15] dscho commented on #1481
@MagicAndre1981 no worries. I half expected it, which is why I introduced that environment variable that allows one to shut up the warning (but still forces the fall-back).

[2018-02-12 11:29] ktr4z commented on #1351
I also have the same problem on windows 10. Git-bash doesn't work but git-cmd does, even when reinstalling git or using PortableGit.

[2018-02-12 14:00] ShaneHudson commented on #1473
I had the same issue once I upgraded Git for Windows, deleting `.minttyrc` worked.

[2018-02-12 14:51] adrianjord commented on #1473
@ShaneHudson Yeah, because that's where you specify TERM=[xterm-256color/vt220] which is where the bug lies. So not a particularly great solution for everyone.

[2018-02-12 16:49] dscho commented on #1488
It is not *quite* fixed yet, I'll keep you updated as to the progress, and will ask you to test a snapshot installer.

[2018-02-12 16:59] kraai commented on #1449
@dscho I was able to install the SDK and modify the installer so that it created `/dev`, `/dev/shm`, and `/dev/mqueue` before running `post-install.bat`.  It still displayed the following errors until I ran Git Bash as an administrator, though:

[code]

I discovered that was able to eliminate all of these errors by running the official release's installer with elevated privileges.

I'm not sure wh

[2018-02-12 18:55] kburnik commented on #1473
I was also affected by this.

My initial solution was to rename the `c:\users\MyUser\.minttyrc` to `old.minttyrc`.

before I even got to this thread (there is some mix up with bashOnWindows, at least in Google search results for "git bash opens and immediately closes windows") so it's kind of hard to locate this thread (unless you follow the documented channel and browse through the issue list for

[2018-02-12 19:21] alex-weej opened #1493 "Unable to communicate with https servers"
---
NOTE: This was already reported in https://github.com/git-for-windows/git/issues/1453 but that was closed due to a bit of a flame war. Let's try again :)
---

 - [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Gi

[2018-02-12 20:37] glhez commented on #1473
I have the same problem ... but git bash (2.16.1-windows-4 + Windows 7) does not crash - the windows
simply close itself.

As I like 256 colors I'm willing to try the 540MiB SDK and gdb... but it'll take a while to download.

Do you have a hint as to where I should start using debugging ?

Beside, I don't understand:

I'm fine with the path you indicate, but in that folder (at least in Windows), I

[2018-02-12 20:46] avih commented on #1473
That's bash aborting/crashing, and because it's the only/last process - the mintty window closes.

It's `usr/lib/terminfo/78/xterm-256color`

Maybe, but it's a question for conemu. Generally speaking conemu runs a windows `cmd.exe` shell which only supports 256 colors in recent windows 10 builds. Anyway, off topic here.

[2018-02-12 20:50] ShaneHudson commented on #1473
Oddly for me although removing the file fixed the issue, resetting it to
xterm color seemed to work fine. So maybe it sets differently in latest
version?

On 12 Feb 2018 6:55 pm, "Kristijan Burnik" <notifications@github.com> wrote:

[2018-02-12 20:57] glhez commented on #1473
@ShaneHudson what did you do ? Did you put `Term=xterm` in minttyrc file ? (it work for me in that case).

[2018-02-12 21:07] ShaneHudson commented on #1473
Yep, that seems to be what it now has (I did it using the options window).
The colours are working fine.

On Mon, Feb 12, 2018 at 8:57 PM, glhez <notifications@github.com> wrote:

--

------------------------------

Shane Hudson
Website Developer
07794746595

https://ShaneHudson.net <http://www.shanehudson.net/>  @ShaneHudson
<https://twitter.com/#!/ShaneHudson>

[2018-02-12 21:29] glhez commented on #1473
@ShaneHudson seems to me that the "default" works with 256 colors too. https://askubuntu.com/questions/821157/print-a-256-color-test-pattern-in-the-terminal#821163

This mentioned script effectively print (more or less) the same color table as in the link above:
[code]

[2018-02-12 21:39] avih commented on #1473
It's not an issue of mintty not able to interpret/display 256 colors OSC codes (which your program prints and mintty displays fine), but rather an issue of bash (or a lib it uses) aborting when it should read the terminfo data for a missing or unexpectedly-formatted file.

[2018-02-13 00:51] lammar2315 commented on #1439
Hey everyone it been hard to get anything out of this

[2018-02-13 10:55] asalwa commented on #1409
Created my first PR for Git for Windows:
https://github.com/git-for-windows/build-extra/pull/172

[2018-02-13 11:40] nautilus7 opened #1494 "Make git diff output easier to understand"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2018-02-13 12:44] linquize commented on #1494
Upstream git is also the same. Should report to git mailing list.

[2018-02-13 13:52] dscho commented on #1493
Thank you for giving this bug another chance of getting resolved.

Can you reproduce with PortableGit (https://github.com/git-for-windows/git/releases/download/v2.16.1.windows.4/PortableGit-2.16.1.4-64-bit.7z.exe)? That would be the least disruptive to your work.

Also, as [before](https://github.com/git-for-windows/git/issues/1453#issuecomment-363377345): What does `git config --show-origin http.

[2018-02-13 14:05] dscho commented on #1439
I am sorry to hear that. But I also have to say that I have a hard time understanding what exactly the problem is. Care to explain in any sort of detail?

[2018-02-13 14:06] dscho commented on #1449
So your installer does not elevate automatically? I.e. you do *not* get that prompt where you are asked whether you are sure you want to run this .exe as administrator?

[2018-02-13 14:09] dscho commented on #1494
I agree that this is an upstream issue, i.e. an issue for [the Git mailing list](mailto:git@vger.kernel.org). Two things to note:

1. There have been a few discussions recently about better diff heuristics, see e.g. https://public-inbox.org/git/20171029151228.607834-1-cmn@dwim.me/
2. You definitely want to make sure to turn off HTML mails when sending to that mailing list, as even an alternative H

[2018-02-13 14:09] #1494 closed

[2018-02-13 15:19] kraai commented on #1449
@dscho When I double-click on the installer in Windows Explorer, it displays the following dialog:

![image](https://user-images.githubusercontent.com/552646/36154211-87bffd90-1085-11e8-9918-f9e097effacf.png)

Once I select a reason and enter my password, the installer runs and the error messages appear when I run Git Bash.

If I right-click on the installer in Windows Explorer and select "Run wit